.download-bg{
	background:#ec616d;
	img{
		width:100%;
		display:block;
		max-width:750px;
		margin: 0 auto;
	}
	.download-btn{
		width:rem-calc(700);
		height:rem-calc(200);
		display:block;
		position: absolute;
		left:50%;
		top:rem-calc(1385);
		margin-left:rem-calc(-350);
	}
}

.cp097-download-bg{
	background:#ec616d;
	img{
		width:100%;
		display:block;
		max-width:750px;
		margin: 0 auto;
	}
	.download-btn{
		width:rem-calc(700);
		height:rem-calc(200);
		display:block;
		position: absolute;
		left:50%;
		top:rem-calc(1350);
		margin-left:rem-calc(-350);
	}
}