<style type="text/css">
	.bg{
		background: #fff7f2;
	}
	.btn-color{
		color: #fff7f2;
		background: #fe6634;
	}
	.weixin-zc-container{
        width: 100%;
        padding: 1em;
        overflow: hidden;
    }
    .weixin-jj-tital{
        margin-bottom: -0.5em;
        color: #fff;
    }
    .weixin-jj-tital div{
        width: 10em;
        height: 2em;
        z-index: 99;
        position: relative;
        background: #fff7f2;
        margin-bottom: -0.5em;
        margin: auto;
        color: #000;
        padding: 1em;
    }
    .weixin-jj-tital div h1{
        font-size: 1em;
        font-weight: bolder;
        text-align: center;
    }
    .weixin-border p{
        text-align: center;
    }
    .weixin-border{
        border: rgb(254, 102, 52) 2px solid;
        padding: 1em;
    }
    .wx-dongrong-loge{
        width: 100%;
        text-align: center;
        padding-top: .5em;
    }
</style>
<div class="wrap bg" ng-controller='controllerRegister'>
	<div class="wx-dongrong-loge" >
        <img style="width: 100%;" src="images/login/h5_2.png"/>
    </div>
	<div class="weixin-zc-container">
	        <a href="http://www.duorongcf.com/html/activity/2weima.html" target="_bank" class="container">
	            <input type ="submit" ng-disabled="myFrom.$valid" class="marT3 button-info btn-color"  value ="立即下载 “沪深理财” APP" >
	        </a>
	</div>
	<div class="bg" style="padding: 1em;">
	        <div class="weixin-jj-tital">
	            <div>
	                <h1>下载App后获得</h1>
	            </div>
	        </div>
	        <div class="weixin-border">
	            <p>10000元体验金</p>
	            <p>立即享受15%年华收益</p>
	            <p>100%本息安全保障</p>
	        </div>
	</div>
</div>