<div class="wrap login-wrapper newhand-wrapper cp-wrapper new-register tyjRegSuccess" ng-controller="tyjSuccessController">
    <div class="topbox headerTop">
        <div class="common-head" ng-if="!fromNative"><i ng-click="toback()"></i><p>注册</p></div>
        <main>
            <div class="block add">
                <img src="/images/activity/tyj/regsuccess-bg.png"/>
                <br>
                <br>
                <p class="black">首笔<span ng-if="dsEcType">10元</span><span ng-if="!dsEcType">50元</span>已放入您账户，快去领吧</p>
                <div class="button radius-btn" ui-sref="reimburse">立即领取</div>
            </div>
            <p>沪深理财送您288元新人红包</p>
            <p>已放入您的账户，快快体验投资吧！</p>
        </main>
    </div>
</div>