<div class="creditRating headerTop" ng-controller="creditRate">
    <div class="common-head" ng-if="!fromNative"><i ng-click="toback()"></i>
        <p>{{title}}</p>
    </div>
    <img src="/images/activity/creditRating/banner.png">
        <div class="icon">
        <!--<div class="banner">-->
        <!--</div>-->
            <div class="icon1 icon0"><img src="/images/activity/creditRating/icon1.png"></div>
            <div class="icon2 icon0"><img src="/images/activity/creditRating/icon2.png"></div>
            <div class="iconzi">
                <p>沪深理财股东沪深控股在2017年10月喜获中诚信AA+级评级。沪深控股有限公司注册资本金10亿元，是一家综合性专业化集团公司。</p>
                <p>公司主营业务涵盖供应链管理、产业投资、金融服务三大板块，秉承“以科技为动力，以创新为追求，以市场为导向，以客户为中心”的经营理念，立足于推动资源整合、创新经济发展、助力产业升级、服务社会民生。</p>
            </div>
        </div>
        <div class="wate">
            <div class="title"><img src="/images/activity/creditRating/wate.png"></div>
            <div class="wenzi">
                <p>企业信用评级是指信用评级机构对金融企业、工商</p>
                <p>企业等进行信用评级</p>
            </div>
            <div class="watepic"><img src="/images/activity/creditRating/watepic.png"></div>
            <div class="wateres"><img src="/images/activity/creditRating/wateres.png"></div>
        </div>
        <div class="weaa"><img src="/images/activity/creditRating/weaa.png"></div>
        <div class="trust">
            <div class="title"><img src="/images/activity/creditRating/trust.png"></div>
            <div class="wenzi1">
                <span>中国诚信信用管理有限公司</span>始创于1992年10月8日，前身是经中国人民银行总行批准设立的中国诚信证券评估有限公司--中国第一家全国性的从事信用评级、金融证券咨询和信息服务等业务的股份制非银行金融机构。2002年9月，经国家工商行政管理总局核准，中国诚信证券评估有限公司更名为中国诚信信用管理有限公司。它的创立被誉为国内评级业规范化开始的标志。
            </div>
            <div class="trust1">
                <div class="swiper">
                    <my-banner banner="banner" seconds="5000"></my-banner>
                </div>
                <img src="/images/activity/creditRating/angle.png" class="angle">
            </div>

            <div class="wenzi2">沪深控股得到了中诚信的认可，同时也在要求沪深理财“成为最安全的、用户放心的互联网金融平台”。在做好自身风控的同时，沪深理财也在一直积极拥抱监管，遵守行业监管细则和互联网金融专项整治相关规定，主动沟通，完善信息披露机制，接受各级领导和监管部门的调研指导，努力打造健康安全的行业发展环境。</div>
        </div>
        <div class="footer">
            <img src="/images/activity/creditRating/footer.png">
        </div>
</div>