<div class="fanli">
    <img src="images/activity/fanli/banner.png" style="width:100%;display:block;">
    <header>
        <p>*本活动仅限首次投资“<span>小胜30</span>”、“<span>中胜60</span>”、“<span>中胜180</span>”，</p>
        <p>且不得使用投资红包，不得走邀请方式，否则没法获得现金奖励。</p>
    </header>
    <div class="maina main">
        <h1>小胜30</h1>
        <img src="images/activity/fanli/bar.png" style="width:100%;display:block;">
        <div class="header">
            <div>
                <h2>6<span>%</span><span>+4.5%</span></h2>
                <p>历史年化收益率</p>
            </div>
            <div>
                <h2>35<span>天</span></h2>
                <p>产品预期</p>
            </div>
            <footer></footer>
        </div>
        <table>
            <tr ng-repeat="item in fanli30">
                <td>首投金额≥{{item.amount}}</td>
                <td>奖励 <span>{{item.money}}</span> 元</td>
            </tr>
        </table>
        <div class="button-box button-boxa">
            <div ng-click="gotoDetail(35)" class="button buttona">马上抢购</div>
        </div>
    </div>
    <div class="mainb main">
        <h1>中胜60</h1>
        <img src="images/activity/fanli/bar.png" style="width:100%;display:block;">
        <div class="header">
            <div>
                <h2>7.5<span>%</span><span>+3.8%</span></h2>
                <p>历史年化收益率</p>
            </div>
            <div>
                <h2>60<span>天</span></h2>
                <p>产品预期</p>
            </div>
            <footer></footer>
        </div>
        <table>
            <tr ng-repeat="item in fanli60">
                <td>首投金额≥{{item.amount}}</td>
                <td>奖励 <span>{{item.money}}</span> 元</td>
            </tr>
        </table>
        <div class="button-box button-boxb">
            <div ng-click="gotoDetail(60)" class="button buttonb">马上抢购</div>
        </div>
    </div>
    <div class="mainc main">
        <h1>中胜180</h1>
        <img src="images/activity/fanli/bar.png" style="width:100%;display:block;">
        <div class="header">
            <div>
                <h2>10.5<span>%</span><span>+1.5%</span></h2>
                <p>历史年化收益率</p>
            </div>
            <div>
                <h2>180<span>天</span></h2>
                <p>产品预期</p>
            </div>
            <footer></footer>
        </div>
        <table>
            <tr ng-repeat="item in fanli180">
                <td>首投金额≥{{item.amount}}</td>
                <td>奖励 <span>{{item.money}}</span> 元</td>
            </tr>
        </table>
        <div class="button-box button-boxc">
            <div ng-click="gotoDetail(180)" class="button buttonc">马上抢购</div>
        </div>
    </div>
    <div class="ad-box">
        <div class="ad">
            <img src="images/activity/fanli/icon-a.png">
            <div>
                <h3>国企全资控股</h3>
                <p>强大的国资背景<br>实缴1亿注册资金</p>
            </div>
            <footer></footer>
        </div>
        <div class="ad">
            <img src="images/activity/fanli/icon-b.png">
            <div>
                <h3>资金安全保障</h3>
                <p>六大还款来源，保证资金安全专业保理担保</p>
            </div>
            <footer></footer>
        </div>
        <div class="ad">
            <img src="images/activity/fanli/icon-c.png">
            <div>
                <h3>专业律师合规支持</h3>
                <p>两大国内顶级律所全程法律支持</p>
            </div>
            <footer></footer>
        </div>
        <div class="ad">
            <img src="images/activity/fanli/icon-d.png">
            <div>
                <h3>合规监管</h3>
                <p>根据最新监管细则合规合法经营</p>
            </div>
            <footer></footer>
        </div>
        <!--<footer></footer>-->
    </div>
    <div class="rule-box">
        <img style="width:100%;display:block;" src="images/activity/fanli/rule-title.png">
        <p><span style="font-weight:bold;">活动时间：</span>2017年05月02日-2017年05月31日；</p>
        <p><span style="font-weight:bold;">参与方式：</span>通过此页面完成注册，并在活动时间内按以上要求投资即可获得相应奖励，<mark>首投不可使用红包（包括红包、加息券、翻倍券等各种形式优惠券），首投是指在沪深理财第一次投资定期标的。走邀请方式参与的，邀请者与被邀请者都无法获得现金奖励；</mark></p>
        <p><span style="font-weight:bold;">奖励发放：</span>奖励将在3个工作日内发放到您的沪深理财账户（奖励将以红包形式，只需投100元即可激活变现，可提现可投资）；</p>
        <p>任何不符合返利网用户使用手册等规则的下单行为，如恶意注册，故意刷量，商业贿赂，非正常消费者等，一经发现商家有权扣除活动期间所有返利。</p>
        <br>
        <p><mark>* 本活动规则解释权归沪深理财所有，如有疑问请联系在线客服或拨打400-031-9909</mark></p>
        <br>
        <footer>市场有风险, 投资需谨慎</footer>
    </div>
</div>
<!--icp备案号-->
<div class="icpba">沪ICP备15011372号-1 Copyright Reserved © 上海沪深理财管理有限公司  v1.2.3</div>