<div class="hlsbt" ng-controller="hlsbtCtrl">
	<div ui-sref="main.home"><img src="images/activity/hlsbt/hlsbt1.png" /></div>
	<div><img src="images/activity/hlsbt/hlsbt2.png" /></div>
	<div><img src="images/activity/hlsbt/hlsbt3.png" /></div>
	<div><img src="images/activity/hlsbt/hlsbt4.png" /></div>
	<div><img src="images/activity/hlsbt/hlsbt5.png" /></div>
	<div><img src="images/activity/hlsbt/hlsbt6.png" /></div>
	<div><img src="images/activity/hlsbt/hlsbt7.png" /></div>
	<div><img src="images/activity/hlsbt/hlsbt8.png" /></div>
	<div><img src="images/activity/hlsbt/hlsbt9.png" />
		<a ui-sref="zhuce" class="hlsbt-btn">立即注册</a>
	</div>
	<div><img src="images/activity/hlsbt/hlsbt10.png" /></div>
</div>