<div class="activity-firend inviteFriendTri">
    <div class="header">
        <img src="images/activity/inviteFriendTri/banner.png">
    </div>
    <div class="content-box">
        <div class="content contenta">
            <header>
                <h1>基础奖励：有钱一起赚</h1>
                <p>每邀请一位好友首投定期标≥1000元，可获得10元返现，返现无上限！</p>
                <img src="images/activity/inviteFriendTri/first-icon.png">
            </header>
            <main>
                <div>
                    <img src="images/activity/inviteFriendTri/friend.png">
                    <h2>邀请好友人数</h2>
                    <p>每位好友首投≥1000元</p>
                    <img style="width:1.2rem;" src="images/activity/inviteFriendTri/up-icon.png">
                </div>
                <div>
                    <img src="images/activity/inviteFriendTri/multiply-icon.png">
                </div>
                <div>
                    <img src="images/activity/inviteFriendTri/gold.png">
                    <h2>10元现金</h2>
                    <p>首投成功即可返现</p>
                </div>
                <h3></h3>
            </main>
            <div class="tips">
                <p>好友注册成功可获得：</p>
                <h3>100000元体验金 + 666元红包 + 1.2倍翻倍券</h3>
            </div>
            <footer ng-click="showRule(1)">
                <div>奖励规则</div>
                <img src="images/activity/inviteFriendTri/down-icon.png">
            </footer>
        </div>
        <div class="content contentb">
            <header>
                <h1>进阶奖励：人脉变钱脉</h1>
                <p>邀请人可获得好友第2笔及第3笔投资收益30%的现金返现！</p>
                <img src="images/activity/inviteFriendTri/second-icon.png">
            </header>
            <main>
                <img src="images/activity/inviteFriendTri/contentb.png">
            </main>
            <div class="tips">
                <h3><img src="images/activity/inviteFriendTri/lizi.png"></h3>
                <p>好友在平台第2笔投资中胜180标的投50000元</p>
                <p>则你获得返现=50000×10.5%×180/360×30%=<span>787.5</span>元</p>
                <div><img ng-click="showJsq()" src="images/activity/inviteFriendTri/jsq-button.png"></div>
            </div>
            <footer ng-click="showRule(2)">
                <div>奖励规则</div>
                <img src="images/activity/inviteFriendTri/down-icon.png">
            </footer>
        </div>
        <div class="content contentc">
            <header>
                <h1>终极奖励：挑战人脉王</h1>
                <p>排行榜前10名的邀请者可获得人脉王大奖！</p>
                <img src="images/activity/inviteFriendTri/third-icon.png">
            </header>
            <div class="countDown">
                <div class="left">距离人脉王产生还有</div>
                <div class="right">
                    <p><span>{{days}}</span>天</p>
                    <p><span>{{hours}}</span>小时</p>
                    <p><span>{{minutes}}</span>分钟</p>
                    <div></div>
                </div>
            </div>
            <div class="topTen">
                <div class="title">
                    <img src="images/activity/inviteFriendTri/topTen-title.png">
                    <p>
                        <span>排名</span>
                        <span>用户</span>
                        <span>好友累计年化投资</span>
                    </p>
                </div>
                <ul>
                    <li ng-repeat="item in repeatInvestList">
                        <span>NO.{{item.rownum}}</span>
                        <span>{{item.mobilePhone}}</span>
                        <span>￥ {{item.amount | number:2}}</span>
                    </li>
                </ul>
            </div>
            <div class="prize">
                <img src="images/activity/inviteFriendTri/prize.png">
            </div>
            <footer ng-click="showRule(3)">
                <div>奖励规则</div>
                <img src="images/activity/inviteFriendTri/down-icon.png">
            </footer>
        </div>
        <div class="statement">
            <p>*本活动由沪深理财发起并就活动内容作出解释和说明</p>
            <p>任何疑问请联系沪深理财客服：400-031-9909</p>
        </div>
        <!--icp备案号-->
        <div style="background:#9A49D8;color:#6E23A8;" class="icpba">沪ICP备15011372号-1 Copyright Reserved © 上海沪深理财管理有限公司 v1.2.3</div>
    </div>
    <div class="rule">
        <div class="rule-box">
            <h1>奖励规则</h1>
            <div ng-if="ruleShow==1" class="rule-content">
                <p>1. 活动期间，每邀请一位好友注册，且好友首投定期标金额≥1000元，您可获得10元现金返现，邀请好友人数越多返现越多，奖励无上限。</p>
                <p>2. 首投返现只针对好友首次投资的小胜30、中胜60及中胜180系列标的，投资活动标则无返现。</p>
                <p>3. 被邀好友可获得100000元体验金+666元红包+1.2倍翻倍券，可在“我的账户”查询。</p>
                <p>4. 好友必须通过您提供的专属链接或专属邀请码进行注册，并在活动期间完成注册及首投，才能建立邀请关系获得返现，本活动返现与其他形式的首投返现不可同时享受。</p>
                <p>5. 奖励发放：当您的好友完成首投后，系统将自动发放返现奖励至您的平台账户中，一小时内即可到账，返现奖励可继续投资或者直接提现。</p>
            </div>
            <div ng-if="ruleShow==2" class="rule-content">
                <p>1. 活动期间，您邀请的好友在平台进行多笔投资，您可获得好友第2笔及第3笔投资收益30%的现金返现。</p>
                <p>2. 返现奖励只针对好友投资的小胜30、中胜60及中胜180系列标的，投资活动标则无返现。</p>
                <p>3. 返现金额将根据好友投资额的“基础历史年化收益率”计算，即基础年化收益*30%，不含使用加息券、翻倍券及平台贴息的收益。</p>
                <p>4. 奖励发放：返现奖励将在好友投资后由系统自动发放至您的平台账户中，一小时内即可到账，返现奖励可继续投资或直接提现。</p>
            </div>
            <div ng-if="ruleShow==3" class="rule-content">
                <p>1. 排行榜根据好友累计年化投资额进行排名，好友累计年化投资额=好友累计投资额/360*投资期限，投资活动标的金额不计入排行榜。</p>
                <p>2. 按排行榜，奖励前十位人脉王：<br>排行榜第1名的邀请者可获得<br>价值¥5388的 iPhone7（32G）一部；<br>排行榜第2名的邀请者可获得<br>价值¥1888的外交官拉杆箱一个；<br>排行榜第3~5名的邀请者每人可获得500元红包；<br>排行榜第6~10名的邀请者每人可获得200元红包。</p>
                <p>3. 最终排名以6月1日24：00点排名为准，之后排名不再更新。</p>
                <p>4. 奖品发放：最终排行榜将以公告进行公布，红包在活动结束后2个工作日内发放，实物奖品5个工作日内寄出。</p>
            </div>
            <img ng-click="closeRule()" src="images/activity/inviteFriendTri/close-icon.png">
        </div>
    </div>
    <img style="z-index:50;" class="totop" ng-click="gotop()" src="images/activity/newhandreg/top.png">
    <!--底部悬浮-->
    <footer class="footer" ng-if="ftype==1">
        <div>
            <p class="login">马上登陆&#x3000;邀请赚钱！</p>
        </div>
        <div class="button-box">
            <img ng-if="wap" src="images/activity/inviteFriendTri/login-button.png" ui-sref="dl({returnurl:'inviteFriendTri'})">
            <a href="jsmp://page=4?" ng-if="!wap">
                <img src="images/activity/inviteFriendTri/login-button.png">
            </a>
        </div>
    </footer>
    <div class="my-invitation" ng-if="ftype==2">
        <p ng-if="wap" ui-sref="myInvitation">查看我的返现</p>
        <a href="jsmp://page=17?"><p ng-if="!wap">查看我的返现</p></a>
    </div>
    <footer class="footer" ng-if="ftype==2">
        <div>
            <p class="login">累计获得返现<span> {{firendList.rewards | number:2}}  </span>元</p>
            <!--<p>未领取奖金<span> {{firendList.unclaimed | number:2}} </span>元</p>-->
        </div>
        <div class="button-box">
            <img ng-if="wap" ng-click="lijiyaoqing()" src="images/activity/inviteFriendTri/invite-button.png">
            <a href="jsmp://page=100?" ng-if="!wap">
                <img src="images/activity/inviteFriendTri/invite-button.png">
            </a>
        </div>
    </footer>
    <!--<footer class="footer" ng-if="ftype==3">
        <div>
            <p>累计任务奖金<span> {{firendList.rewards | number:2}}  </span>元</p>
            <p>未领取奖金<span> {{firendList.unclaimed | number:2}} </span>元</p>
        </div>
        <div class="button-box">
            <img ng-if="wap" ui-sref="myInvitation" src="images/activity/inviteFriendTri/lingqu-button.png">
            <a href="jsmp://page=17?" ng-if="!wap">
                <img src="images/activity/inviteFriendTri/lingqu-button.png">
            </a>
        </div>
    </footer>-->
    <!--计算器-->
    <div class="jsq">
        <div class="jsq-box">
            <header>算算我能赚多少<img ng-click="closeJsq()" src="images/activity/inviteFriendTri/jsq-close.png"></header>
            <div class="jsq-content">
                <ul>
                    <li>
                        <span>投资金额</span>
                        <div class="input-box"><input type="number" ng-model="investAmount" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')">&#x3000;元</div>
                    </li>
                    <li>
                        <span>产品期限</span>
                        <div class="buttons">
                            <div ng-click="changeTime(0)"  ng-class="{active:cpDetail.index==0}" class="cp-button">小胜30</div>
                            <div ng-click="changeTime(1)"  ng-class="{active:cpDetail.index==1}" class="cp-button">中胜60</div>
                            <div ng-click="changeTime(2)"  ng-class="{active:cpDetail.index==2}" class="cp-button">中胜180</div>
                            <div class="footer"></div>
                        </div>
                    </li>
                    <li>
                        <span>基础利率</span>
                        <p class="cp-rate">{{cpDetail.rate}}%</p>
                    </li>
                    <li>
                        <span>好友收益</span>
                        <p class="friend-profit">{{investAmount*cpDetail.rate*cpDetail.days/100/360 | number:2}} <mark>× 30%</mark></p>
                    </li>
                </ul>
                <div class="myCashback">
                    <span>我的返现</span>
                    <div>
                        <span>{{investAmount*cpDetail.rate*cpDetail.days*30/100/100/360 | number:2}}</span>
                        <span>元</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--分享-->
    <div class="activity-firend-boxh5" ng-click="closeshareh5()">
        <div class="h5share" ng-click="default($event)">
            <p>复制以下网址，发送给您的好友注册并投资</p>
            <textarea id="shareurl" ng-model="shareUrl" class="shareurl">{{shareUrl}}</textarea>
            <a ng-click="copyShare()" ng-show="!isCopy">复制链接</a>
            <a ng-show="isCopy" style="color:#999;">{{isCopytext}}</a>
        </div>
    </div>
    <div class="activity-firend-boxweixin" ng-click="closeshareweixin()">
        <img src="images/activity/firend/sharetext.png" class="sharetext" />
    </div>
    <div class="activity-firend-hongbao">
        <div class="hongbaobg">
            <img src="images/activity/firend/hongbao.png" />
            <div class="hongbaotext">
                <p class="money">领取了奖金<br />{{hongbao.amount}}元</p>
                <p class="text">奖金已转入您的账户请及时查收</p>
                <a class="sharebtn" ng-if="!wap" href="jsmp://page=100?">分享赚更多</a>
                <a class="sharebtn" ng-click="lijiyaoqing()" ng-if="wap">分享赚更多</a>
                <a class="cancel" ng-click="closehongbao()">放弃机会</a>
            </div>
        </div>
    </div>

</div>