<div class="chedd jdEcard billGift" ng-controller="commonSemCtrl" style="background: #fff;">
    <main>
        <img style="width:100%;" src="/images/activity/jdek/jdek-01.png">
        <a href="/main/home" class="logo"></a>
        <div class="register-box jdek">
            <div class="promote-box">
                <form class="wap-login-box" ng-model="fromregister" name="myForm" novalidate>
                    <div class="step1" ng-show="form">
                        <div class="input-item">
                            <img src="/images/activity/chedd/ico-1.png" style="left:0.7rem;" />
                            <div class="input-box">
                                <input name="mobilephone" type="text" ng-pattern="/^1[3|4|5|6|7|8|9][0-9]{9}$/" placeholder="请输入手机号码" ng-model="login.mobilephone" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" ng-blur="blurID('focusMobilephone',myForm)" minlength="11" maxlength="11" required class="input">
                            </div>
                        </div>
                    </div>
                    <div class="step2" ng-show="!form">
                        <div class="input-item" ng-show="isShowPicCode">
                            <img src="/images/activity/chedd/ico-2.png" style="left:0.6rem;"/>
                            <div class="input-box" style="width:55%;margin-right:3%;float:left;">
                                <input id="imgcode" class="input" type="text" placeholder="请输入图形验证码" ng-model="login.picCode" name="picCode" minlength="4" maxlength="4"  autocomplete="off" />
                            </div>
                            <div style="width:40%;float:right;">
                                <span class="img-box"><img ng-click="clickInput($event)" src="login/validateCode2.dos"></span>
                            </div>
                        </div>
                        <div class="input-item">
                            <img src="/images/activity/chedd/ico-3.png" />
                            <div class="input-box" style="width:55%;margin-right:3%;float:left;">
                                <input name="smsCode" ng-model="login.smsCode"  type="text"  placeholder="请输入短信验证码" maxlength="4" required class="input">
                            </div>
                            <div class="input-box sendCode">
                                <span ng-click="getyzm(myForm)" style="color:#fff;">{{nowTimer}}</span>
                            </div>
                        </div>
                        <div class="input-item">
                            <img src="/images/activity/chedd/ico-4.png" />
                            <div class="input-box">
                                <input autocomplete="off" type="{{(passwordText|isShowPw).type}}"  placeholder="密码为6-16位字母数字混合" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/" maxlength="16" ng-model="login.passWord" name="passWord" required class="input" />
                            </div>
                        </div>
                        <div class="input-item">
                            <p><i class="checkbox" ng-click="agree=!agree" ng-class="{checked:agree}" ng-init="agree=true"></i>我已阅读并同意<a href="https://hushenlc.cn/zc">《沪深理财注册协议》</a></p>
                        </div>
                    </div>
                    <div class="input-item">
                        <button class="btn" ng-show="form" ng-click="next(myForm)" ng-disabled="!agree" style="margin:0 auto;"></button>
                        <button class="btn step2-btn" ng-show="!form" ng-click="zuce(myForm)" ng-disabled="!agree"  style="margin:0 auto;"></button>
                        <p style="text-align: center;color: #b6b6b6;" ng-show="form">已有账号？
                            <a ng-click="toLogin()" style="text-decoration:underline;color:#ef2c37;">立即登录</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <div class="down">
        <div class="gotop1" ng-click="gotop()"></div>
        <div class="to-xs" ng-click="gotop()"></div>
        <div class="to-30" ng-click="gotop()"></div>
        <div class="to-60" ng-click="gotop()"></div>
        <div class="gotop2" ng-click="gotop()"></div>
        <img src="/images/activity/jdek/jdek-02.png">
        <img src="/images/activity/jdek/jdek-03.png">
        <img src="/images/activity/jdek/jdek-04.png">
        <img src="/images/activity/jdek/jdnk-01.png">
        <img src="/images/activity/jdek/jdnk-02.png">
        <img src="/images/activity/jdek/jdek-08.png">
    </div>

</div>