<div class="wrap login-wrapper newhand-wrapper cp-wrapper new-register tyjRegSuccess" ng-controller="tyjRegSuccessController">
    <div class="topbox headerTop">
        <div class="common-head" ui-sref="main.home" ng-if="!fromNative"><i></i><p>新用户注册</p></div>
        <main>
            <div class="block add">
                <img src="/images/activity/tyj/reg-success.png"/>
                <br>
                <br>
                <p class="tit"><span>288元</span>现金红包已经放入您的账户</p>
                <p class="desc">在“我的-优惠券”内可查看</p>
                <br>
                <br>
                <div class="button" ng-click="toList()">立即投资</div>
                <p class="tit desc">完成投资即刻激活红包</p>
            </div>
        </main>
    </div>
</div>