<div class="onestop">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!--<div class="swiper-slide parta">
                <img src="images/activity/onestop/parta-banner.png" class="banner">
                <img src="images/activity/onestop/parta-title.png" class="title">
                <div class="content">
                    <p>供应链金融模式是围绕核心企业，管理上下游中小企业的资金流和物流，并把单个企业的不可控风险转变为供应链企业整体的可控风险，通过立体获取各类信息，将风险控制在最低的金融服务。（担保机构同事对于上下游供应商申请的应收、应付账款融资进行担保。)</p>
                    <img src="images/activity/onestop/parta-content.png">
                </div>
            </div>
            <div class="swiper-slide partb">
                <img src="images/activity/onestop/partb-title.png" class="title">
                <div class="content">
                    <p>实现企业商流、物流、资金流的有效统一，更好的将企业、金融机构、投资个体之间的资源完美整合，从而进一步提高资金的使用效率及安全性，为投资人及企业带来最大收益。</p>
                    <img src="images/activity/onestop/partb-content.png">
                </div>
            </div>
            <div class="swiper-slide partc">
                <img src="images/activity/onestop/partc-title.png" class="title">
                <div class="content">
                    <p>沪深致力于解决“中小微企业融资难题和贸易服务”，通过我们的银行级大数据智能风控模型的评分体系，成功帮助以曼宝为例的企业解决了融资问题，帮助其扩大生产。</p>
                    <img src="images/activity/onestop/partc-content.png">
                </div>
                <div class="icpba">沪ICP备15011372号-1 Copyright Reserved © 上海沪深理财管理有限公司  v1.2.3</div>
            </div>-->

            <div class="swiper-slide parta">
                <img src="images/activity/onestop/contenta.png">
            </div>
            <div class="swiper-slide partb">
                <img src="images/activity/onestop/contentb.png">
            </div>
            <div class="swiper-slide partc">
                <img src="images/activity/onestop/contentc.png">
                <div class="icpba">沪ICP备15011372号-1 Copyright Reserved © 上海沪深理财管理有限公司  v1.2.3</div>
            </div>
        </div>
    </div>
</div>