<div class="promote">
    <main>
        <img style="width:85%;display:block;margin: 0 auto;" src="/images/activity/promote/banner.png">
        <a href="/main/home" class="logo"></a>
        <div class="register-box">
            <div class="promote-box">
                <form class="wap-login-box" ng-model="fromregister" name="myForm" novalidate>
                    <div class="input-item">
                        <img src="/images/activity/tyj/ico-1.png" style="left:0.7rem;" />
                        <div class="input-box">
                            <input name="mobilephone" type="text" ng-pattern="/^1[3|4|5|6|9|7|8][0-9]{9}$/" placeholder="请输入手机号码" ng-model="login.mobilephone" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" ng-blur="blurID('focusMobilephone',myForm)" minlength="11" maxlength="11" required class="input">
                        </div>
                    </div>
                    <div class="input-item">
                        <img src="/images/activity/tyj/ico-2.png" style="left:0.6rem;"/>
                        <div class="input-box">
                            <input id="imgcode" class="input" type="text" placeholder="请输入图形验证码" ng-model="login.picCode" name="picCode" minlength="4" maxlength="4" required autocomplete="off" />
                            <span class="img-box"><img ng-click="clickInput($event)" src="login/validateCode2.dos"></span>
                        </div>
                    </div>
                    <div class="input-item">
                        <img src="/images/activity/tyj/ico-3.png" />
                        <div class="input-box" style="width:57%;margin-right:3%;float:left;">
                            <input name="smsCode" ng-model="login.smsCode"  type="text"  placeholder="请输入短信验证码" maxlength="4" required class="input">
                        </div>
                        <div class="input-box" style="width:40%;float:left;border:1px solid #E70000;color:#fff;box-sizing:border-box;background:#E70000;">
                            <span ng-click="getyzm(myForm)" style="color:#fff;">{{nowTimer}}</span>
                        </div>
                    </div>
                    <div class="input-item">
                        <img src="/images/activity/tyj/ico-4.png" />
                        <div class="input-box">
                            <input autocomplete="off" type="{{(passwordText|isShowPw).type}}"  placeholder="密码为6-16位字母数字混合" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/" ng-model="login.passWord" name="passWord" required class="input" />
                        </div>
                    </div>
                    <!--<div class="input-item">-->
                        <!--<img src="/images/activity/tyj/invite_icon.png" />-->
                        <!--<div class="input-box">-->
                            <!--<input autocomplete="off" type="text"  placeholder="请输入邀请码 ( 非必填 )" ng-pattern="/^1[3|4|5|6|7|8|9][0-9]{9}$/" ng-model="login.recommPhone" name="recommPhone" class="input"/>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="input-item">
                        <p><i class="checkbox" ng-click="agree=!agree" ng-class="{checked:agree}" ng-init="agree=true"></i>我已阅读并同意<a href="https://hushenlc.cn/zc">《沪深理财注册协议》</a></p>
                    </div>
                    <div class="input-item">
                        <button class="btn" ng-click="zuce(myForm)" ng-disabled="!agree">立 即 领 取</button>
                        <p class="toLogin" style="text-align: center;color: #89424a;"><a>我已注册&#x3000;<span ui-sref="dl" style="text-decoration:underline;color:#E70000;">立即登录</span></a></p>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <div class="img-wrap">
        <img class="" src="/images/activity/promote/topic_01.png">
        <img class="" src="/images/activity/promote/topic_02.png">
        <div class="list list4">
            <a ng-if="isLogin" class="btn " href="/cpDetail?pid=4390"></a>
            <a ng-if="!isLogin" class="btn " ng-click="gotop()"></a>
        </div>
        <img class="" src="/images/activity/promote/topic_03.png">
        <div class="list list1">
            <a ng-if="isLogin" class="btn " href="/main/bankBillList"></a>
            <a ng-if="!isLogin" class="btn " ng-click="gotop()"></a>
        </div>
        <div class="list list2">
            <a ng-if="isLogin" class="btn " href="/main/bankBillList"></a>
            <a ng-if="!isLogin" class="btn " ng-click="gotop()"></a>
        </div>
        <div class="list list3">
            <a ng-if="isLogin" class="btn " href="/main/bankBillList"></a>
            <a ng-if="!isLogin" class="btn " ng-click="gotop()"></a>
        </div>
        <img class="" src="/images/activity/promote/topic_07.png">
        <div ng-click="gotop()" class="top-button">立即领取新人大礼</div>
        <img class="" src="/images/activity/promote/topic_08.png">
    </div>
</div>