<div class="pullNewWrap pullNew" ng-controller="pullNewCtrl">
    <div class="common-head" ng-if="!fromNative"><i ui-sref="main.home"></i>
        <p>{{title}}</p>
    </div>
    <main>
        <img style="width: 100%;display: inline-block;vertical-align: top;" src="/images/activity/promote/pullnew_01.png">
        <a href="/main/home" class="logo"></a>
    </main>
    <div class="img-wrap">
        <img src="/images/activity/promote/pullNew_021.png" alt="">
        <div class="list list1 changTxt">
            <a class="btn" ng-click="toReceive()"></a>
        </div>
        <img src="/images/activity/promote/pullNew_023.png" alt="">
        <div class="list list2">
            <a class="btn " ng-click="toInvest()"></a>
        </div>
        <img class="" src="/images/activity/promote/pullnew_04.png">
        <img class="" src="/images/activity/promote/pullnew_05.png">
        <div class="list list3">
            <a class="btn " ng-click="toZhuce()"></a>
        </div>
        <img class="" src="/images/activity/promote/pullnew_07.png">
    </div>
</div>