<div class="login-wrapper newhand-wrapper cp-wrapper new-register tyjRegSuccess" ng-controller="tyjRegSuccessController">
    <div class="topbox headerTop">
        <div class="common-head" ui-sref="main.home" ng-if="!fromNative"><i></i><p>领取情况</p></div>
        <main>
            <div class="block add">
                <h2 class="big">恭喜您</h2>
                <p class="small">获得新手礼包！</p>
                <img src="/images/common/recevice.png"/>
                <div class="button yellow-btn" ng-click="toZhuce()">注册领取</div>
                <p>已有{{regCount}}人领取了红包</p>
            </div>
        </main>
    </div>
</div>