<div class="rechargegift-wrapper">
	<div class="banner"><img src="../../images/rechargegift/banner.png"></div>
	<div class="gift-box">
		<ul>
			<li><span>单笔充值≥5000元</span><p>返<b>25</b>元红包<br><i>4%</i>加息券</p></li>
			<li><span>单笔充值≥10000元</span><p>返<b>55</b>元红包<br><i>5%</i>加息券</p></li>
			<li><span>单笔充值≥30000元</span><p>返<b>170</b>元红包<br><i>5%</i>加息券</p></li>
			<li><span>单笔充值≥50000元</span><p>返<b>290</b>元红包<br><i>6%</i>加息券</p></li>
			<li><span>单笔充值≥100000元</span><p>返<b>600</b>元红包<br><i>6%</i>加息券</p></li>
			<li><span>单笔充值≥200000元</span><p>返<b>1230</b>元红包<br><i>7%</i>加息券</p></li>
		</ul>
	</div>
	<div class="greenmode-box">
		<div class="mode-five mode">
			<div class="titlefive"></div>
			<ul>
				<li><i></i>活动时间：即日起——2016年8月12日</li>
				<li><i></i>红包仅限≧30天标使用，加息券仅限≧15天标使用；红包、加息券不能叠加使用。</li>
				<li><i></i>活动期间，单笔充值满额即送红包和加息券各一张，充值越多，返得越多，奖励无上限；</li>
				<li class="small"><i></i>本次所有活动最终解释权归沪深理财所有。</li>
			</ul>
		</div>
		<div class="linebg"><img src="../../images/rechargegift/linebg.png"></div>
	</div>
	<div class="redmode-box">
		<div class="mode-six mode">
			<div class="titlesix"></div>
			<div class="content">
				<div class="iconmode">
					<i class="gzkg"></i>
					<div>
						<span>国企控股</span>
						<p>知名国企控股</p>
					</div>
				</div>
				<div class="iconmode">
					<i class="guarantee"></i>
					<div>
						<span>资金安全保障</span> 
						<p>历史到期产品100%本息兑付<br>安全可靠</p>
					</div>
				</div>
				<div class="iconmode">
					<i class="pjcd"></i>
					<div>
						<span>票据100%承兑</span>
						<p>所有票据来源于银行与大型国企100%无条件承兑</p>
					</div>
				</div>
				<div class="iconmode">
					<i class="lszc"></i>
					<div>
						<span>专业律所全程支持</span>
						<p>专业律所全程合规支持</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="code-wrapper">
		<div class="code">
			<div class="tel">
				<table class="number">
					<tr>
						<td>
							<i class="boat-phone-icon"></i>
							<div>
								<span>4006-293-993</span>
								<p>服务时间 工作日9:00-21:00；休息日为9:00-18:00</p>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>