<div class="spider-wrapper sendmask-wrapper" ng-controller="sendmaskCtrl">
	<div class="banner"><img src="../../images/sendmask/banner.png"></div>
	<div class="step step-mask" ng-if="type=='1'"></div>
	<div class="step step-normal" ng-if="type=='2'||type=='3'"></div>
	<div class="login">
		<div class="titlebg">注册投资--领取奖品</div>
		<input placeholder="请输入手机号" ng-model="myphone" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" minlength="11" maxlength="11">
		<a href="" ui-sref="zhuce({myPhone:myphone,myToFrom:toFrom,maskType:type})">立即注册</a>
	</div>
	<div class="rules mode">
		<div class="modebg">活动规则</div>
		<ul ng-if="type=='2'">
			<li><i></i>活动期间内，新用户通过本页链接注册并推荐2名好友，且每人（包含推荐人）各自投资≥100元，投资成功后推荐人将获赠SK-II面膜一张（仅限获取一次）；面膜每天限量2000张，先到先得！</li>
			<li><i></i>活动结束后，累计投资总额最高的前5名推荐人（包含被推荐人投资金额）将获得对应的“推荐达人奖”；如遇到多名推荐人（包含推荐人投资金额）累计投资总额相同时，则以该推荐人或被推荐人最后一笔投资时间为准并决定获奖排名，先投的将获此排名奖品，后投的则延顺下一个排名奖品；平台将实时更新累计投资总额前10名推荐人的排名情况；</li>
			<li><i></i>活动结束后的2个工作日内平台公布获奖名单；客服在公布后的5个工作日内联系获奖用户，核对用户信息和奖品信息后发放奖品；若5个工作日内未能取得联系，则视为该用户放弃本次获奖资格；奖品的邮寄地址仅限中国大陆快递公司可覆盖区域，寄出后客服会告知快递单号；</li>
			<li><i></i>若发现刷奖、冒用他人身份等违规行为，平台有权取消其所有奖励，由此造成的损失由用户自行承担。</li>
			<li><i></i>本次活动最终解释权归沪深理财所有。请搜索并关注微信‘沪深理财助手’，查看辣妈帮投资（好友投资）排行榜</li>
		</ul>
		<ul ng-if="type=='1'">
			<li><i></i>活动期间内，新用户通过本页链接注册并投资≥500元（除新手标外），投资成功后用户将获赠50元话费（仅限获取一次）；话费每天限量1000份，先到先得！</li>
			<li><i></i>活动结束后，累计投资总额最高的前5名用户（包含被该用户推荐的好友总投资金额）将获得对应的“推荐达人奖”；如遇到多名用户（包含被该用户推荐的好友总投资金额）累计投资总额相同时，则以该用户最后一笔投资时间为准并决定获奖排名，先投的将获此排名奖品，后投的则延顺下一个排名奖品；平台将每日更新累计投资总额前10名用户的排名情况；</li>
			<li><i></i>活动结束后的2个工作日内平台公布获奖名单；客服在公布后的5个工作日内联系获奖用户，核对用户信息和奖品信息后发放奖品；若5个工作日内未能取得联系，则视为该用户放弃本次获奖资格；奖品的邮寄地址仅限中国大陆快递公司可覆盖区域，寄出后客服会告知快递单号；</li>
			<li><i></i>若发现刷奖、冒用他人身份等违规行为，平台有权取消其所有奖励，由此造成的损失由用户自行承担。</li>
			<li><i></i>本次活动最终解释权归沪深理财所有。请搜索并关注微信‘沪深理财助手’，查看辣妈帮投资（好友投资）排行榜</li>
		</ul>
		<ul ng-if="type=='3'">
			<li><i></i>活动期间内，新用户通过本页链接注册并推荐2名好友，且每人（包含推荐人）各自投资≥1000元（除新手标外），投资成功后推荐人将获赠SK-II面膜一张（仅限获取一次）；面膜每天限量2000张，先到先得！</li>
			<li><i></i>活动结束后，累计投资总额最高的前5名推荐人（包含被推荐人投资金额）将获得对应的“推荐达人奖”；如遇到多名推荐人（包含推荐人投资金额）累计投资总额相同时，则以该推荐人或被推荐人最后一笔投资时间为准并决定获奖排名，先投的将获此排名奖品，后投的则延顺下一个排名奖品；平台将实时更新累计投资总额前10名推荐人的排名情况；</li>
			<li><i></i>活动结束后的2个工作日内平台公布获奖名单；客服在公布后的5个工作日内联系获奖用户，核对用户信息和奖品信息后发放奖品；若5个工作日内未能取得联系，则视为该用户放弃本次获奖资格；奖品的邮寄地址仅限中国大陆快递公司可覆盖区域，寄出后客服会告知快递单号；</li>
			<li><i></i>若发现刷奖、冒用他人身份等违规行为，平台有权取消其所有奖励，由此造成的损失由用户自行承担。</li>
			<li><i></i>本次活动最终解释权归沪深理财所有。请搜索并关注微信‘沪深理财助手’，查看辣妈帮投资（好友投资）排行榜</li>
		</ul>
	</div>
	<div class="mode mygift">
		<div class="modebg">推荐达人奖</div>
		<table class="maskgift-table">
			<tr>
				<th width="20%">名 次</th>
				<th>奖 品</th>
				<th width="23%">获奖人数</th>
			</tr>
			<tr>
				<td>一等奖</td>
				<td class="left">SK-II神仙水大红瓶3件套</td>
				<td>1</td>
			</tr>
			<tr class="bg">
				<td>二等奖</td>
				<td class="left">SK-II神仙水护肤精华露</td>
				<td>1</td>
			</tr>
			<tr>
				<td>三等奖</td>
				<td class="left">SK-II神仙水经典体验套装</td>
				<td>1</td>
			</tr>
			<tr class="bg">
				<td>四等奖</td>
				<td class="left">400元话费/京东购物卡</td>
				<td>1</td>
			</tr>
			<tr>
				<td>五等奖</td>
				<td class="left">200元话费/京东购物卡</td>
				<td>1</td>
			</tr>
		</table>
	</div>

	<div class="mode gift">
		<div class="modebg">新人礼包二重奏</div>
		<div class="title"><span>第<b>1</b>重</span></div>
		<div class="giftbox">
			<div class="t"><span>完成<br>注册</span></div>
			<div class="con"><p>赠送<span>100,000</span>元新手理财金</p></div>
		</div>
		<div class="title"><span>第<b>2</b>重</span></div>
		<div class="giftbox">
			<div class="t"><span>投资<br>福利</span></div>
			<div class="con"><div>收益翻倍<p>投一万送一万，投百万送百万</p></div></div>
		</div>
	</div>

	<div class="mode aboutus">
		<div class="modebg">认识沪深理财</div>
		<div class="about">沪深理财注册资本1亿元，是商业网点建设开发中心（隶属于国务院国资委）全资子公司中商投旗下互联网票据投资平台。平台背靠大型国有企业，以银行承兑汇票、知名国企商票为主营业务，所有业务流程均有专业律所提供法律合规性支持。</div>
	</div>
</div>