<div class="thirdInvitation" ng-controller="commonSemCtrl">
    <div class="content" ><!-- ng-class="form ? 'first-step': 'sec-step'"-->
        <img style="width:100%;display: block;" src="/images/activity/thirdInvitation/header.png" ng-click="$state.go('main.home');" >
        <div class="register-box">
            <div class="content-tip">
                <p>您的好友<a>{{mobilePhone | limitTo:3}}****{{mobilePhone | limitTo:-4}}</a>已在沪深理财投资啦！</p>
                <p>赠您<a>10元话费</a>+<a>新手专属福利</a>~</p>
            </div>
            <img style="width:100%;display: block;" src="/images/activity/thirdInvitation/text2.png" >
            <div class="promote-box" ng-class="form?'input-step1': 'input-step2'">
                <form class="wap-login-box" ng-model="fromregister" name="myForm" novalidate style="padding-top: 1.5rem;">
                    <div class="step1" ng-show="form">
                        <div class="input-item">
                            <img src="/images/activity/thirdInvitation/phone.png" style="left:0.7rem;" />
                            <div class="input-box">
                                <input name="mobilephone" type="text" ng-pattern="/^1[3|4|5|6|9|7|8][0-9]{9}$/" placeholder="请输入手机号码" ng-model="login.mobilephone" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" ng-blur="blurID('focusMobilephone',myForm)" minlength="11" maxlength="11" required class="input">
                            </div>
                        </div>
                    </div>
                    <div class="step2" ng-show="!form">
                        <div class="input-item" ng-show="isShowPicCode">
                            <img src="/images/activity/thirdInvitation/input.png" style="left:0.6rem;"/>
                            <div class="input-box" style="width:55%;margin-right:3%;float:left;">
                                <input id="imgcode" class="input" type="text" placeholder="请输入图形验证码" ng-model="login.picCode" name="picCode" minlength="4" maxlength="4"  autocomplete="off" />
                            </div>
                            <div style="width:40%;float:right;">
                                <span class="img-box"><img ng-click="clickInput($event)" src="login/validateCode2.dos"></span>
                            </div>
                        </div>
                        <div class="input-item">
                            <img src="/images/activity/thirdInvitation/input.png" />
                            <div class="input-box" style="width:55%;margin-right:3%;float:left;">
                                <input name="smsCode" ng-model="login.smsCode"  type="text"  placeholder="请输入短信验证码" maxlength="4" required class="input">
                            </div>
                            <div class="input-box sendCode">
                                <span ng-click="getyzm(myForm)" style="color:#fff;">{{nowTimer}}</span>
                            </div>
                        </div>
                        <div class="input-item">
                            <img src="/images/activity/thirdInvitation/password.png" />
                            <div class="input-box">
                                <input autocomplete="off" type="{{(passwordText|isShowPw).type}}"  placeholder="密码为6-16位字母数字混合" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/" maxlength="16" ng-model="login.passWord" name="passWord" required class="input" />
                            </div>
                        </div>
                        <div class="input-item">
                            <p><i class="checkbox" ng-click="agree=!agree" ng-class="{checked:agree}" ng-init="agree=true"></i>我已阅读并同意<a href="https://hushenlc.cn/zc">《沪深理财注册协议》</a></p>
                        </div>
                    </div>
                    <div class="input-item" >
                        <p ng-show="form" style="text-align: center;color: #666;margin-top:0.6rem;">已有账号？
                            <a  ng-click="toLogin()" style="text-decoration:underline;color:#fda621;">立即登录</a>
                        </p>
                        <button class="btn reg-fir"  ng-show="form" ng-click="next(myForm)" ng-disabled="!agree"></button>
                        <button class="btn reg-sec"  ng-show="!form" ng-click="zuce(myForm)" ng-disabled="!agree"></button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="img-wrap">
        <img class="" src="/images/activity/thirdInvitation/list.png" >
    </div>
    <div class="footer">
        <!--<div class="footer-top rule-box">-->
            <!--<h1 class="footer-header" ng-click="ruleCtrl()">-->
                <!--<span>活动规则<img src="/images/activity/ppBuy/down.png"></span>-->
            <!--</h1>-->
            <!--<ul class="footer-content" type="1" style="list-style-type:decimal; list-style-image:none; list-style-position:outside;">-->
                <!--<li>活动时间：2018年4月6日-5月6日；</li>-->
                <!--<li>活动对象：活动期间内通过此活动页面注册并投资的新用户；</li>-->
                <!--<li>新用户首投金额满足奖励条件即可获得相应奖励，每人限领一档奖励（新手标及活动标不参与本活动）；</li>-->
                <!--<li>领奖方式：现金奖励将于10个工作日内发放至您的沪深理财账户内（奖励将以红包形式发放，只需投100即可激活变现，可提现可投资）；</li>-->
                <!--<li>每个身份证仅限参加一次，刷奖及冒用他人身份证、银行卡者一经核实，取消活动资格，所得奖励不予承兑；</li>-->
                <!--<li>此活动不与平台其他活动同享。</li>-->
                <!--<li style="list-style: none;">* 本活动规则解释权归沪深理财所有，如有疑问请联系在线客服或拨打400-031-9909。</li>-->
            <!--</ul>-->
        <!--</div>-->
        <div class="footer-bottom">
            <img src="/images/activity/thirdInvitation/footer.png">
        </div>
    </div>
</div>

<!--<div id="div1" style="width:100%; height:100%; overflow:hidden; background:rgba(0,0,0,0.6); position:fixed; top:0; left:0; padding-bottom:100%"></div>-->
<!--<div id="div2" style=" position:fixed; top: 20%; left:5%; width:90%;"><a onclick="document.getElementById('div1').style.display='none';document.getElementById('div2').style.display='none';" style="position: absolute; right:0; width:8%;"><img src="http://bank.wo.cn/public/upres/20170314152522.png" width="100%"></a><img src="http://bank.wo.cn/public/upres/20170314152506.png" width="100%"></div>-->
<!-- <script>
 setTimeout(function(){console.log(1);document.getElementById('div1').style.display='none';document.getElementById('div2').style.display='none';},2000);
</script> -->
