<div class="my-invitation-wrapper" ng-controller="raidersCtrl">
	<div class="common-head" ng-if="!fromNative"><i ng-click="toback()"></i><p>攻略</p></div>
	<div class="raidersContent">
		<p>1、活动时间：自2017年10月18日起。</p>
		<p>2、好友须通过您提供的专属链接或专属邀请码进行注册并投资，即可建立邀请关系获得话费奖励，本活动与其他形式的首投福利不可同时享受。</p>
		<p>3、好友须首次投资定期标≥1000元，即可获得奖励（投资新手标、体验标则无奖励）。</p>
		<p>4、奖励发放：好友首投达标后即赠送您和好友相应话费奖励，奖励将在10个工作日内发放至注册手机号中。</p>
		<p>5、如有恶意刷奖行为，一经本平台核实将取消获奖资格。</p>
		<p>6、此活动不与平台其他活动同享（且新手标及活动标不参与本活动）。</p>

		<p style="color: #999">* 本活动最终解释权归沪深理财所有，如有疑问请咨询客服：400-031-9909。</p>
	</div>
</div>
