
<div class="wrap" ng-view>
    <div class="recharge-wrap success">
        <div class="success-wrap">
            <div class="ok-wrap"><i class="icon-ok"></i></div>
            <div class="success-tip">您的提现申请已成功提交！</div>
            <ul class="cash-info">
                <li><span>提现至:</span><p>招商银行(尾号0017)</p></li>
                <li><span>提现金额:</span><p>￥49</p></li>
                <li><span>到账时间1~2个工作日</span></li>
            </ul>
        </div>
        <div class="sub-box">
            <a class="sub-btn" href="#">完 成</a>
        </div>
    </div>
</div>
