<div class="newhand-wrapper cp-wrapper ng-scope" ng-controller='payPWFromController'>
    <div class="common-head" ng-click="toback()"><i></i><p>{{title}}</p></div>
    <div class="info-list  wap-pay-box">
        <div class="handbox" style="text-align: center;padding:1em;font-size: 1rem; ">
            <p>已向手机 {{user.mobilephone | limitTo:3}}*****{{user.mobilephone | limitTo:-3}} 发送短信</p>
        </div>
        <table class="list-table" name="payPWFrom">
            <tr>
                <td class="list-title">
                    <input type="text" placeholder="请输入短信验证码"  class="text"  ng-model="pw.smsCode" name="userName" autocomplete="off" />
                </td>
                <td ng-click="onClick('发送短信验证码')" class="list-con">
                    <p>{{nowTimer}}</p>
                </td>
            </tr>
            <tr>
                <td class="list-title">
                    <input placeholder="设置交易密码" type="password" ng-model="pw.tpwd" class="text" name="passWord"  minlength="6" maxlength="6" required/>
                </td>
            </tr>
        </table>
        <div>
            <p>交易密码为6位数字</p>
        </div>

        <div ng-disabled="payPWFrom.$invalid" type ="submit" class="sign_box_bottom newhand-btn" ng-click="onClick('完成')">完成</div>
    </div>
</div>