<div class="appdownload">
	<div><img src="images/appdownload/appdownload1.png" ui-sref='main.home' /></div>
	<div><img src="images/appdownload/appdownload2.png" /></div>
	<div><img src="images/appdownload/appdownload3.png" /></div>
	<div>
		<img src="images/appdownload/appdownload4.png" />
		<img src="images/appdownload/appdownloadbtn1.png" class="appdownloadbtn1" ng-click="downloadclick()" />
	</div>
	<div><img src="images/appdownload/appdownload5.png" /></div>
	<div><img src="images/appdownload/appdownload6.png" /></div>
	<div><img src="images/appdownload/appdownload7.png" /></div>
	<div><img src="images/appdownload/appdownload8b.png" /></div>
	<div><img src="images/appdownload/appdownload9.png" /></div>
	<div><img src="images/appdownload/appdownload10.png" /></div>
	<div><img src="images/appdownload/appdownload11.png" /></div>
	<div><img src="images/appdownload/appdownload12.png" /></div>
	<div><img src="images/appdownload/appdownload13b.png" /></div>
	<div>
		<img src="images/appdownload/appdownload14.png" />
		<div class="appdownloadbtn2"><img src="images/appdownload/appdownloadbtn2.png" ng-click="downloadclick()" /></div>
	</div>
</div>
<div class="share-ios"><img ng-click="closethis()" src="images/share-ios.png" /></div>
<div class="share-android"><img ng-click="closethis()" src="images/share-android.png" /></div>