<div class="serviceCenter headerTop" ng-controller="aqbzPageCtrl" style="border-top: 1px solid #f4f4f4;">
    <div ng-if="!fromNative" class="common-head" ng-click="toback()"><i></i>
        <p>{{title}}</p>
    </div>
    <div class="down">
        <ul class="list">
            <li>
                <h3 ng-click="slideToggle($event)">平台是否有第三方托管？<i></i></h3>
                <p class="one">沪深理财是由金运通支付托管，金运通是山东金升集团投资控股设立的一家互联网第三方支付服务企业。 金运通支付于2014年7月10日获得中国人民银行颁发的互联网第三方支付牌照(许可证编号：Z2026437000017)，是国内首家建立在实体批发市场基础上的互联网支付公司。</p>
            </li>
            <li>
                <h3 ng-click="slideToggle($event)">借款项目如何审核与管理？<i></i></h3>
                <p class="one">沪深理财推荐的每一款产品均有相对应的资产，对借款企业信息进行详细的纰漏，同时对借款企业进行贷前贷中贷后管理。</p>
            </li>
            <li>
                <h3 ng-click="slideToggle($event)">平台是否有专业法律支持？<i></i></h3>
                <p class="one">沪深理财特聘大成和金诚同达专业律师事务所专家团与权威法律顾问团队,为沪深商业模式的合法性、交易模式的合规性提供法律支持。</p>
            </li>
            <li>
                <h3 ng-click="slideToggle($event)">如果出现还款逾期，平台怎么保证投资者的利益？<i></i></h3>
                <p class="first">1.原始债务企业为第一还款人，负有还款责任。</p>
                <p>2.当原始债务企业出现还款逾期时，原始债务企业的实际控制人承担无限连带保证责任，为第二还款人，负有还款责任。</p>
                <p class="last">3.当以上还款人出现还款逾期时，平台追索基于票据融资的交易对手企业为第三还款人。</p>
            </li>
            <li>
                <h3 ng-click="slideToggle($event)">平台风控如何？<i></i></h3>
                <p class="first">1.层层审核，仅筛选优质借款人.规范筛选优质项目，实地考核审查。</p>
                <p>2.全程监管，保障资金安全。贷后监控管理，签订法律协议。</p>
                <p class="last">3.多重防线，有效抵御风险，快速专业催款，足额抵押变现。追缴清收。</p>
            </li>
        </ul>
    </div>

</div>
<style>
    html,body{
        background: #fff;
    }
</style>