<div class="wap-more-box" ng-controller="aqbzCtrl">
    <div class="common-head"><i ng-click="toback()"></i>
        <p>{{title}}</p>
    </div>
    <!--<div class="common-head" ui-sref="main.home" ng-if="wap=='true'"><i></i>-->
        <!--<p>{{title}}</p>-->
    <!--</div>-->
    <div class="aqbzContent">
        <img src="images/safety/safety_01.png" />
        <img src="images/safety/safety_02.png" />
        <img src="images/safety/safety_03.png" />
        <!--<img src="images/safety/safety_04.png" />-->
        <div class="txt">
            <p>金运通支付是山东金升集团投资控股设立的一家互联网第三方支付服务企业。</p>
            <p>金运通支付于2014年7月10日获得中国人民银行颁发的互联网第三方支付牌照(许可证编号：Z2026437000017)，是国内首家建立在实体批发市场基础上的互联网支付公司。
            </p>
        </div>
        <img src="images/safety/safety_05.png" />
        <!--<img src="images/safety/safety_06.png" />-->
        <div class="txt">
            <p>沪深理财推荐的每一款产品均有相对应的资产，对借款企业信息进行详细的披露，同时对借款企业进行贷前贷中贷后管理。</p>
        </div>
        <img src="images/safety/safety_07.png" />
        <!--<img src="images/safety/safety_08.png" />-->
        <div class="txt">
            <p>特聘国内专业律师事务所专家团与权威法律顾问团队,为沪深商业模式的合法性、交易模式的合规性提供法律支持。</p>
        </div>
        <img src="images/safety/safety_09.png" />
        <!--<img src="images/safety/safety_10.png" />-->
        <div class="txt">
            <p>一、原始债务企业为第一还款人，负有还款责任。</p>
            <p>二、当原始债务企业出现还款逾期时，原始债务企业的实际控制人承担无限连带保证责任，为第二还款人，负有还款责任。</p>
            <p>三、当以上还款人出现还款逾期时，平台追索基于票据融资的交易对手企业为第三还款人。</p>
        </div>
        <img src="images/safety/safety_11.png" />
        <!--<div class="bot">-->
            <!--<img src="images/newaqbz/aqbzo.png">-->
            <!--<div class="file-box" ng-click="showFile = true;"></div>-->
        <!--</div>-->
    </div>
    <!--<div class="aqbzcheck-wrap" ng-show="showFile" ng-click="showFile = false;">-->
        <!--<div class="aqbzcheck-box">-->
            <!--<img src="images/guarantee-file.png">-->
        <!--</div>-->
    <!--</div>-->
</div>
