<!--<div class="wrap find-wrapper account-wrapper headerTop" ng-controller="bulletinCtrl">-->
    <!--<div class="common-head"><p>【重大事项】</p></div>-->
    <!--<div class="div-block"></div>-->
<!--</div>-->

<div class="abouths headerTop" ng-controller="bulletinCtrl"  ng-init="tapsub=1">
    <div ng-if="!fromNative" class="common-head" ng-click="toback()"><i></i>
        <p>{{title}}</p>
    </div>
    <!--<ul class="tap">-->
        <!--<li ng-click="change(1)" ng-class="{1:'active'}[tap]"><a href=""></a></li>-->
        <!--<li ng-click="change(2)" ng-class="{2:'active'}[tap]"><a href=""></a></li>-->
        <!--<li ng-click="change(2)"><a href="">【重大事项】</a></li>-->
        <!--<li ng-click="change(3)" ng-class="{3:'active'}[tap]"><a href=""></a></li>-->
    <!--</ul>-->
    <!--<div class="div-block"></div>-->

    <!-- 重大事项 -->
    <div class="mode" ng-if="tap==1">
        <!--<div class="brief">-->
            <!--<div class="title">【公司简介】</div>-->
            <!--<p>沪深理财是由深圳前海云轩互联网金融服务有限公司成立并运营的互联网金融产品服务信息平台，注册资本金1亿元，由沪深金控资产管理有限公司100%全资控股。沪深金控资产管理有限公司是沪深控股旗下三大业务板块之一，沪深理财作为沪深控股集团互联网金融板块的总部运营中心，坐落于上海市黄浦区人民路292号外滩soho大厦9层，实行总部管理。</p><br/>-->
            <!--<p>沪深理财顺应国家创新金融发展需求，经过长达近一年的资源整合和战略锚定，聚焦于为用户提供供应链金融、票据、有价资产抵押、企业信用融资等领域的互联网金融产品，在擅长领域提供普惠金融服务。</p><br/>-->
            <!--<p>平台核心团队均来自于知名互联网金融、外资银行风控团队、国际商业保理、基金、保险等行业，拥有丰富的管理与运营经验，争取为用户打造一个政策合规、风控合格、用户合适的“三合”互联网金服平台，让用户踏实获得普惠金融发展红利。</p>-->
        <!--</div>-->
        <!--<div class="brief">-->
            <!--<div class="title">【沪深控股】</div>-->
            <!--<p>沪深理财股东沪深控股公司主营业务涵盖供应链管理、产业投资、金融服务三大板块，秉承“以科技为动力，以创新为追求，以市场为导向，以客户为中心”的经营理念，立足于推动资源整合、创新经济发展、助力产业升级、服务社会民生。</p><br/>-->
            <!--<p>2017年10月喜获中诚信AA+级评级。沪深控股有限公司注册资本金10亿元，是一家综合性专业化集团公司。</p>-->
            <!--<img src="images/find/abouths/hs1.png">-->
            <!--<a ui-sref="creditRating">点击查看沪深控股喜获中诚信AA+评级详情</a>-->
        <!--</div>-->
        <!--<div class="brief">-->
            <!--<div class="title">【业务模式】</div>-->
            <!--<img src="images/find/abouths/hs2.png">-->
        <!--</div>-->
        <div ng-repeat="item in infoList" ng-bind-html="item.content | asHtml"></div>
        <!--<img src="{{infoList[0].litpic}}" alt="">-->
    </div>

    <!-- 合规报告 -->
    <div class="mode modepad" ng-if="tap==2">
        <div class="leader">
            <img src="images/find/abouths/leader1.png">
            <p>10年风险管理工作经验，曾供职于国内知名保险公司、大型商业银行、沪上知名小贷。其中曾担任沪上知名互联网金融公司高级风险管理岗位多年。是横跨传统金融及互联网金融的多领域复合型人才，有着丰富的消费金融、中小微企业信用融资、各类抵质押项目风险识别及项目审批经验。擅长使用大数据征信，风控模型来进行信用管理及风险控制，对风险管理和风险体系有着深刻的理解和素养。</p>
            <img src="images/find/abouths/leader2.png">
            <p>曾在国内知名互联网上市公司10年以上整体运营管理经验，成功运营过亿级注册量、千万活跃级用户项目。具有较强的领导力和执行力。拥有丰富的互联网运营经验及团队管理能力。擅长挖掘用户深层需求，推动以用户为中心的核心运营理念，对互联网运营有独到的见解。</p>
            <img src="images/find/abouths/leader3.png">
            <p>拥有10年IT研发和管理经验，是开源技术领域的专家熟悉高并发数据处理技术。成功搭建过大型的互联网金融公司技术体系，并实现了金融资产（P2P、B2C基金、保险）系统、投资交易系统、支付、营销运营系统的平台化整合，创造了万亿交易规模的“无差错”运行纪录。</p>
            <p>在加入沪深理财之前，曾担任过骏合集团、九牛财富投资控股有限公司的技术总监和首席架构师。</p>
            <p>2007年获得河南大学计算机科学与技术专业学士学位。</p>
        </div>

    </div>

    <!-- 审计报告 -->
    <div class="mode modepad" ng-if="tap==3">
        <ul class="tapsub clearfix">
            <li ng-click="changesub(1)" ng-class="{1:'active'}[tapsub]"><a href="">公司资质</a></li>
            <li ng-click="changesub(2)" ng-class="{2:'active'}[tapsub]"><a href="">一亿验资</a></li>
            <li ng-click="changesub(3)" ng-class="{3:'active'}[tapsub]" class="last"><a href="">企业荣誉</a></li>
        </ul>
        <div class="submode" ng-if="tapsub==1">
            <img class="company" src="images/find/abouths/company.png" >
        </div>
        <div class="submode" ng-if="tapsub==2">
            <div class="switch">
                <div class="swiper">
                    <my-banner banner="banner1" seconds="5000"></my-banner>
                </div>
            </div>

        </div>
        <div class="submode" ng-if="tapsub==3">
            <div class="switch">
                <div class="swiper">
                    <my-banner banner="banner2" seconds="5000"></my-banner>
                </div>
            </div>
        </div>
    </div>

</div>