<div class="serviceCenter headerTop" ng-controller="cpjsPageCtrl" style="border-top: 1px solid #f4f4f4;">
    <div ng-if="!fromNative" class="common-head" ng-click="toback()"><i></i>
        <p>{{title}}</p>
    </div>
    <div class="down">
        <ul class="list">
            <li>
                <h3 ng-click="slideToggle($event)">沪深30是怎么样的产品，收益是多少？<i></i></h3>
                <p class="one">沪深30产品：最低100元起投，投资周期是30天，历史基础年化收益率7%，平台贴息3.8%，累计10.8%。</p>
            </li>
            <li>
                <h3 ng-click="slideToggle($event)">沪深60是怎么样的产品，收益是多少？<i></i></h3>
                <p class="one">沪深60产品：最低100元起投，投资周期是60天，历史基础年化收益率8%，平台贴息3.8%，累计11.8%。 </p>
            </li>
            <li>
                <h3 ng-click="slideToggle($event)">沪深90是怎么样的产品，收益是多少？<i></i></h3>
                <p class="one">沪深90产品：最低100元起投，投资周期是90天，历史基础年化收益率8.5%，平台贴息3.8%，累计12.3% </p>
            </li>
            <li>
                <h3 ng-click="slideToggle($event)">平台是否还有其他产品？<i></i></h3>
                <p class="one">沪深理财会不定期推出优惠活动，为用户推出优惠产品，使用户的收益最大化。用户可以随时关注平台活动。</p>
            </li>
            <li>
                <h3 ng-click="slideToggle($event)">什么是体验标？<i></i></h3>
                <p class="one">针对在沪深理财注册的新用户，使用沪深理财的体验金进行投资，标的为虚拟体验，可产生投资收益。体验金收益需要完成一次真实投资后才可提现。</p>
            </li>
        </ul>
    </div>

</div>
<style>
    html,body{
        background: #fff;
    }
</style>