<div class="eContractIntroduce-wrap headerTop" ng-controller="eContractIntroCtrl">
    <div class="common-head" ng-if="!fromNative"><i ng-click="toback()"></i><p>{{title}}</p></div>
    <div class="banner">
        <img src="/images/eContractIntro/banner.png" alt="">
    </div>
    <div class="text-content">
        <h2>电子签章是什么</h2>
        <div class="txt">在网络签署电子合同时，签署各方在网络上签名或盖章，不同于现实环境下的签署合同，网络环境下的签署往往不能确保签名各方用户身份的真实性，并且合同容易在事后被篡改。
            电子签章技术有效解决了以上问题。在使用了该技术后，签名方通过向CFCA申请数字证书，在每次签署时加入时间戳并加密，电子签章中含有签署方的真实信息及加密的签署时间信息，保证了合同的完整性，且合同内容在事后无法被任何利益相关方篡改。</div>
        <div class="img">
            <img src="/images/eContractIntro/img.png" alt="">
        </div>
    </div>

    <div class="text-content" style="background: #f1f7ff;">
        <h2>沪深理财为什么选择CFCA </h2>
        <div class="txt">中国金融认证中心（简称CFCA）是经中国人民银行和国家信息安全管理机构批准成立的国家级权威电子认证服务机构，是国家重要的金融信息安全基础设施之一。在《中华人民共和国电子签名法》颁布后，CFCA成为首批获得电子认证服务许可的电子认证服务机构。
            <br>
            与电子签章配套使用的CFCA数字证书，包含三部分内容：该用户的信息，公钥，还有CFCA对该证书里信息的确认签名。就像要打开一把用数字加密的锁，所需的钥匙就是CFCA给出的公钥--根证书。使用CFCA数字证书，能确保交易方的身份，确保交易信息的传输安全性和交易信息不可篡改，有效保障交易安全。</div>
        <div class="img">
            <img src="/images/eContractIntro/img1.png" alt="">
        </div>
    </div>

    <div class="text-content">
        <h2>升级后的电子签章对用户有何保障 </h2>
        <div class="txt">沪深理财使用了CFCA数字证书进行实名盖章，那么投资人与沪深理财签署的每一份电子版合同或协议都经过技术加密，无法被他人篡改，其法律效力就等同于手写签名或盖章的纸质合同或协议，从而保证了投资人的利益，让投资人消除因合同有效性而带来的资金安全问题的疑虑。
            <br>
            投资人在沪深理财交易成功后，会收到签有电子签章的电子合同（PDF格式），此时投资人可自行验证投资合同上沪深理财、担保公司电子签章的真伪及CFCA证书的有效性，不用担心交易作假。</div>
        <div class="img">
            <img src="/images/eContractIntro/img2.png" alt="">
        </div>
    </div>

    <div class="carousel">
        <h2>如何查看及使用电子签章 </h2>
        <div class="swiper">
            <e-contra-banner banner="banner" seconds="3000"></e-contra-banner>
        </div>
    </div>

    <div class="question">
        <h2>常见问题 </h2>
        <div class="txt">
            <h3>
                <img src="/images/eContractIntro/img7.png" alt=""> CFCA电子印章上线之前出借合同上的印章有效么？
            </h3>
            <div class="word">此次沪深理财与CFCA强强联手，上线了CFCA电子印章服务，是
                对之前印章服务的安全性升级，之前的印章完全有效，CFCA电子
                印章上线，就意味着CFCA会对安心贷的印章进行核实、认证。而
                且可由客户自己对印章真伪进行检验，不用担心交易对手的身份
                作假。
            </div>
            <h3>
                <img src="/images/eContractIntro/img7.png" alt=""> 我国电子签名法对电子签章的相关规定有哪些？
            </h3>
            <div class="word">我国电子签名法，是为规范电子签名行为、确立电子签名的法律
                效力、维护有关各方的合法权益而制定的。电子签名，是指数据
                电文中以电子形式所含、所附用于识别签名人身份并表明签名人
                认可其中内容的数据。根据该法第十三条，电子签名同时符合下
                列条件的，视为可靠的电子签名： <br>
                （一）电子签名制作数据用于电子签名时，属于电子签名人专有； <br>
                （二）签署时电子签名制作数据仅由电子签名人控制； <br>
                （三）签署后对电子签名的任何改动能够被发现； <br>
                （四）签署后对数据电文内容和形式的任何改动能够被发现。 <br>
                沪深理财使用的带有CFCA数字证书的电子签章系统，符合《中华
                人民共和国电子签名法》的相关规定，在可靠性、安全性、有效
                性上远远高于一般的电子签名。被签文件的打印件完全适用于我
                国传统印章的相关法律法规，同时被签文件的电子文档也适用于
                电子签名法。

            </div>
        </div>
    </div>
    <div class="banner">
        <img src="/images/eContractIntro/bottom.png" alt="">
    </div>
</div>