<div class="wrap find-wrapper account-wrapper headerTop" ng-controller="findCtrl">
    <div class="common-head"><p>发现</p></div>
    <div class="div-block"></div>
    <table class="myaccount-mod">
        <tbody><tr>
            <td width="33%" ui-sref="myInvitation">
                <img src="images/find/find_yaoqing.png">
                <!--<img src="images/myaccount/yaoqingfanxian.png" style="position:absolute;width:4rem;top:0.5rem;right:0.5rem;">-->
                <p>邀请好友</p>
            </td>
            <td width="33%" ui-sref="actList">
                <img src="images/find/find_huodong.png">
                <p>活动中心</p>
            </td>
            <td width="33%" ui-sref="publicWelfareList">
                <img src="images/find/find_love.png">
                <p>沪深公益</p>
            </td>
        </tr>
        <tr>
            <td width="33%"  ui-sref="serviceCenter">
                <img src="images/find/find_kefu.png">
                <p>客服中心</p>
            </td>
            <td width="33%" ui-sref="aqbz">
                <img src="images/find/find_anquan.png">
                <!--<img src="images/find/find_wx.png" ng-if="!isCircle">-->
                <p>安全保障</p>
            </td>
            <td width="33%" ui-sref="showInfo">
                <img src="images/find/find_guanyu.png">
                <p>信息披露</p>
            </td>
            <!--<td width="34%" ui-sref="myTyj">
                <img src="images/myaccount/ico_tyj.png" style="width: 30%;margin-top: -2.5rem;padding: 2rem 0;">
                <p>体验金&lt;!&ndash; ngIf: accunt.experienceAmount>0 &ndash;&gt;<br ng-if="accunt.experienceAmount>0" class="ng-scope">&lt;!&ndash; end ngIf: accunt.experienceAmount>0 &ndash;&gt;&lt;!&ndash; ngIf: accunt.experienceAmount>0 &ndash;&gt;<span ng-if="accunt.experienceAmount>0" style="color:#E84034;font-size:0.9rem;" class="ng-binding ng-scope">8,888元</span>&lt;!&ndash; end ngIf: accunt.experienceAmount>0 &ndash;&gt;</p>
            </td>
            <td width="33%" ui-sref="myInvitation">
                <img src="images/myaccount/ico_invite.png">
                &lt;!&ndash;<img src="images/myaccount/yaoqingfanxian.png" style="position:absolute;width:4rem;top:0.5rem;right:0.5rem;">&ndash;&gt;
                <p>我的邀请</p>
            </td>
        </tr>
        <tr>
            <td ui-sref="myActivity({wap:true})">
                <img src="images/myaccount/ico-activity.png" style="width: 25%;margin-top: -2.5rem;padding: 2rem 0;">
                <p>我的活动</p>
            </td>
            <td ui-sref="myInvest">
                <img src="images/myaccount/ico_invest.png">
                <p>我的投资</p>
            </td>
            <td ui-sref="minxi">
                <img src="images/myaccount/ico_detail.png">
                <p>我的明细</p>
            </td>-->
        </tr>
        </tbody>
    </table>
    <div class="div-block"></div>
    <ul class="list-wrap">
        <li>
            <span class="left">官网网站</span>
            <span class="right">www.hushenlc.cn</span>
        </li>
        <!--<li ui-sref="goFollow">
            <span class="left">关注微信<img src="images/find/find_new.png" alt="" class="wx-img"></span>
            <span class="right">沪深金融官微<img src="images/find/icon_rightto.png" alt="" class="right-icon"></span>
        </li>
        <li>
            <span class="left">打赏好评</span>
            <span class="right"><img src="images/find/icon_rightto.png" alt="" class="right-icon"></span>
        </li>-->
    </ul>
</div>