<div class="lefttoptext">商家推广，无返利<div></div></div>
<div class="flwhz" ng-controller="flwhzCtrl">
	<img src="images/flw/flwhz1.png" />
	<div class="flwhz-btn1"><img src="images/flw/flwhz2.png" /><div class="text"><p>现金奖励由沪深理财发放至沪深理财账户中</p></div></div>
	<img src="images/flw/flwhz3.png" />
	<img src="images/flw/flwhz4.png" />
	<img src="images/flw/flwhz5.png" />
	<div class="flwhz-text">
		<p>立送60元+<span>首投金额x 0.5%现金</span></p>
		<div class="flwhz-text-cont">
			<p>年化收益率<br><span><font>{{data1.rate}}</font>%</span></p><p>投资期限<br><span><font>{{data1.deadline}}</font>天</span></p>
		</div>
		<div class="flwhz_btn" ng-click="goDetail(data1.id)"><img src="images/flw/flwhzbtn.png" /></div>
	</div>
	<div class="flwhz-text">
		<p>立送120元+<span>首投金额x 1%现金</span></p>
		<div class="flwhz-text-cont">
			<p>年化收益率<br><span><font>{{data2.rate}}</font>%</span></p><p>投资期限<br><span><font>{{data2.deadline}}</font>天</span></p>
		</div>
		<div class="flwhz_btn" ng-click="goDetail(data2.id)"><img src="images/flw/flwhzbtn.png" /></div>
	</div>
	<div class="flwhz-text">
		<p>立送150元+<span>首投金额 x 1.5%现金</span></p>
		<div class="flwhz-text-cont">
			<p>年化收益率<br><span><font>{{data3.rate}}</font>%</span></p><p>投资期限<br><span><font>{{data3.deadline}}</font>天</span></p>
		</div>
		<div class="flwhz_btn" ng-click="goDetail(data3.id)"><img src="images/flw/flwhzbtn.png" /></div>
	</div>
	<img src="images/flw/flwhz12.png" />
	<img src="images/flw/flwhz13.png" />
	<img src="images/flw/flwhz14.png" />
	<img src="images/flw/flwhz15.png" />
	<img src="images/flw/flwhz16.png" />
	<img src="images/flw/flwhz17.png" />
	<img src="images/flw/flwhz18.png" />
	<img src="images/flw/flwhz19.png" />
	<img src="images/flw/flwhz20.png" />
	<img src="images/flw/flwhz21.png" />
</div>