<div class="wrap wap-more-box yanzi-box gdjs-box" ng-controller="GDJSCtrl">
	<div class="common-head" ng-click="toback()" ng-if="wap=='true'"><i></i><p>股东介绍</p></div>
	<div class="gqjgCont">
		<h3>控股股东：上海和平影视企业公司（集团）</h3>
		<p>1992年8月，上海和平影视企业公司（以下简称和平影视）在上海市工商行政管理局注册设立。1996年，中央实行专业行政管理属地化，“和平影视”业务归上海市文化广播影视管理局及中共上海市委宣传部领导。</p>
		<img style="width:100%;display:block" src="images/more/czgl.png">
		<img style="width:100%;display:block" src="images/more/gsjg.png">
		<footer>
			<p>图片信息来源：</p>
			<a href="http://www.sh-hpys.com/hppc/structure" target="_blank">http://www.sh-hpys.com/hppc/structure</a>
		</footer>
		<h3>控股平台：上海沪深理财管理有限公司</h3>
		<p>2017年1月4日，和平影视董事长吴传平先生代表和平影视集团宣布：对集团直属的沪深理财进行垂直化管理。这是和平影视进行垂直管理的首家互联网金融平台。在人事管理方面，和平影视集团将在沪深理财内建立党支部，直接管理平台的高管团队，将其人事关系纳入到国有企业干部管理序列；在业务管理方面，要求沪深理财严格按照网贷管理办法，以国有企业标准制定并向集团提交开展相关业务的制度、流程和标准，经集团批准后执行；在财务管理方面，集团将指派专人定期对沪深理财的财务报表进行审计，并建立起对平台的第三方资金存管、银行存管、平台自有运营资金的日常巡查与监管制度。确保沪深理财不触碰投资人的投资资金、不设立资金池、不自担保、不进行虚假宣传、不触及非法集资、平台不提供增信服务，保证投资人的资金安全。</p>
		<p>沪深理财将不忘初心，砥砺前行，为中国经济和为普惠金融贡献出我们的一份力量。</p>
		<br>
		<h3>上海和平影视企业公司（集团）垂直管理沪深理财的批示</h3>
		<img style="width:100%;display:block" src="images/more/gdjsa.png">
		<img style="width:100%;display:block" src="images/more/gdjsb.png">
		<img style="width:100%;display:block" src="images/more/gdjsc.png">
		<!--<img src="images/more/gdjs1.png" style="display:block;">
		<img src="images/more/gdjs2.png" style="display:block;margin-top:0;">
		<img src="images/more/gdjs3.png" style="display:block;margin-top:0;">
		<img src="images/more/gdjs4.png" style="display:block;margin-top:0;">-->
		<!--<div class="box gqjg-box">
			<h1>股权结构</h1>
			<p><img src="images/more/gqjg.png" width="100%" /></p>
		</div>
		<div class="box">
			<h1>股东介绍</h1>
			<h2>中和世纪贸易发展中心<a href="http://baike.baidu.com/item/中和世纪贸易发展中心" target="_blank">更多>></a></h2>
			<p>中和世纪是经国家工商总局核准登记的国有企业，成立于2014年12月5日。根据国家“深化改革、创新发展”做强做大做优产业资本的战略思路，中心充分发挥国有企业平台优势整合资源，投资并购优良产业，最大限度地挖掘产业附加值，探寻企业合作发展共赢模式，在大宗产业链、互联网、房地产、通用航空、特色农业等领域健康有序地持续发展。</p>
			<img src="images/more/zhsj1.png" alt="">
			<img src="images/more/zhsj2.png" alt="">
		</div>-->
		<!--<div class="box">
			<h1>股东出资报告</h1>
			<p><img src="images/more/skhd.png" /></p>
			<p><img src="images/more/czbg.png" /></p>
		</div>-->
	</div>
</div>