<div class="wrap wap-more-box yanzi-box" ng-controller="GQJGCtrl">
	<div class="common-head" ui-sref="main.more" ng-if="wap=='true'"><i></i><p>股权结构</p></div>
	<div class="gqjgCont">
		<img src="images/more/gqjg.png" width="100%" />
		<h1>股东介绍</h1>
		<h2>中和世纪贸易发展中心</h2>
		<p>中和世纪是经国家工商总局核准登记的国有企业，成立于2014年12月5日。根据国家“深化改革、创新发展”做强做大做优产业资本的战略思路，中心充分发挥国有企业平台优势整合资源，投资并购优良产业，最大限度地挖掘产业附加值，探寻企业合作发展共赢模式，在大宗产业链、互联网、房地产、通用航空、特色农业等领域健康有序地持续发展。</p>
		<p>不设“资金池”，资金由第三方支付机构：“金运通 ”，避免平台挪用投资者资金，最终打造一个值得信赖的、高效的网络借贷信息中介平台。</p>
		<p class="more">更多关于中和世纪的详细情况请参见百度百科：<br/><a href="http://baike.baidu.com/item/中和世纪贸易发展中心" target="_blank">http://baike.baidu.com/item/中和世纪贸易发展中心</a></p>
		<h2>上海圣邦典当有限公司</h2>
		<p>圣邦典当成立于2013年6月19日，是一家由上海市商务委员会批准、由上海市公安局颁发特种行业许可证的典当公司。可以合法开展动产质押典当业务；财产权利质押典当业务，房地产抵押典当业务等。</p>
		<p><img src="images/more/shengb1.png" /><img src="images/more/shengb2.png" /><img src="images/more/shengb3.png" /><img src="images/more/shengb4.png" /></p>
		<h1>股东出资报告</h1>
		<p><img src="images/more/skhd.png" /></p>
	</div>
</div>