<div class="wrap wap-more-box" ng-controller="GSJSCtrl">
	<div class="common-head"  ng-if="wap=='true'"><i ng-click="toback()"></i><p>走进沪深</p></div>
	<div class="zjjs-content">
        <div class="gsjj-box">
            <h2>公司简介</h2>
            <p>沪深理财是由深圳前海云轩互联网金融服务有限公司成立并运营的互联网金融产品服务信息平台，注册资本金1亿元，由深圳市国民金融控股有限公司100%全资控股。深圳市国民金融控股有限公司是沪深控股旗下三大业务板块之一。沪深理财作为沪深控股集团互联网金融板块的总部运营中心，坐落于上海市黄浦区人民路292号外滩soho大厦9层，实行总部管理。</p>
            <br>
            <p>沪深理财顺应国家创新金融发展需求，经过长达近一年的资源整合和战略锚定，聚焦于为用户提供供应链金融、票据、有价资产抵押、企业信用融资等领域的互联网金融产品，在擅长领域提供普惠金融服务。</p>
            <br>
            <p>平台核心团队均来自于知名互联网金融、外资银行风控团队、国际商业保理、基金、保险等行业，拥有丰富的管理与运营经验，争取为用户打造一个政策合规、风控合格、用户合适的“三合”互联网金服平台，让用户踏实获得普惠金融发展红利。</p>
        </div>
        <div class="ywms-box">
            <h2>业务模式</h2>
            <img src="/images/more/ywlc.png" alt="">
        </div>
    </div>
</div>