<div class="wrap wap-more-box headerTop" ng-controller="GYWMCtrl">
	<div class="common-head"  ng-if="wap=='true'"><i ng-click="toback()"></i><p>{{title}}</p></div>
	<div class="div-block"></div>
	<div class="more-bg">
		<a ng-click="goto('公司介绍')"><div><i class="gywm-txt txt">走进沪深</i><p><span>></span></p></div></a>
		<!--<a ng-click="goto('股东介绍')"><div><i class="gywm-txt txt">股东介绍</i><p><span>></span></p></div></a>-->
		<!--<a ng-click="goto('管理团队')"><div><i class="gywm-txt txt">管理团队</i><p><span>></span></p></div></a>-->
		<a ng-click="goto('公司资质')"><div><i class="gywm-txt txt">公司资质</i><p><span>></span></p></div></a>
		<a ng-click="goto('一亿验资')"><div><i class="gywm-txt txt">一亿验资</i><p><span>></span></p></div></a>
		<a ng-click="goto('网站公告')"><div><i class="gywm-txt txt">网站公告</i><p><span>></span></p></div></a>
		<a ng-click="goto('安全保障')"><div><i class="gywm-txt txt">安全保障</i><p><span>></span></p></div></a>
	</div>
	<!--<div class="banner"><img style="width: 100%;" src="images/more/ico_aboutus.png"></div>-->
</div>
