<div class="serviceCenter headerTop" ng-controller="qtwtPageCtrl" style="border-top: 1px solid #f4f4f4;">
    <div ng-if="!fromNative" class="common-head" ng-click="toback()"><i></i>
        <p>{{title}}</p>
    </div>
    <div class="down">
        <ul class="list">
            <li>
                <h3 ng-click="slideToggle($event)">投标前需要注意什么？<i></i></h3>
                <p class="one">投标前请认真分析所投资标的详细信息（起投金额，年化利率，投资期限等），以确定您所要投的标符合您的风险承受能力和所要求的投资回报率。</p>
            </li>
            <li>
                <h3 ng-click="slideToggle($event)">如何投标？<i></i></h3>
                <p class="one">打开“沪深理财”的首页，直接点击“我要投资”按钮；进入标的详情页，根据用户自己所需标的条件筛选后进行投资。  </p>
            </li>
            <li>
                <h3 ng-click="slideToggle($event)">投资是否需要收取佣金？<i></i></h3>
                <p class="one">目前平台暂时未收取佣金。</p>
            </li>
            <li>
                <h3 ng-click="slideToggle($event)">投标后什么时候开始计息？<i></i></h3>
                <p class="one">投资第二天开始计息，产品满标后第二天起息。</p>
            </li>
            <li>
                <h3 ng-click="slideToggle($event)">如何找回登录密码？<i></i></h3>
                <p class="first">1.点击登录页面的忘记密码链接。</p>
                <p>2.填写注册时使用的手机号码，点击获取验证码。</p>
                <p class="last">3.输入发送手机上的验证码和新设的密码，完成重置密码设置。</p>
            </li>
            <li>
                <h3 ng-click="slideToggle($event)">平台目前有几种还款方式？<i></i></h3>
                <p class="one">目前平台的还款方式有一种：“到期一次性还清本息”。</p>
            </li>
            <li>
                <h3 ng-click="slideToggle($event)">投资回款有短信通知吗？<i></i></h3>
                <p class="one">平台投资回款有短信通知的服务。</p>
            </li>
            <li>
                <h3 ng-click="slideToggle($event)">APP软件出现闪退有哪些情况及解决方案？<i></i></h3>
                <p class="first">情况：1. 页面不断加载 。 2.没有网络。 3.手机硬件和软件不兼容。</p>
                <p>解决方案：1.建议退出APP重新登录 2. 卸载APP重新下载安装 3.重启手机在网络环境好的情况下尝试 。</p>
                <p class="last">若以上方法都不能解决，及时联系客服提交技术处理。</p>
            </li>
        </ul>
    </div>

</div>
<style>
    html,body{
        background: #fff;
    }
</style>