<div class="server-upgrade headerTop" ng-controller="serverUpgradeCtrl">
    <div class="common-head">
        <p>{{title}}</p>
    </div>
    <div class="img">
        <img src="/images/serverUpgrade/serverUpgrade-img.png" alt="">
    </div>
    <div class="img">
        <img src="/images/serverUpgrade/serverUpgrade-img2.png" alt="">
        <div class="text">
            <div class="text-info">
                <p class="title" style="margin-bottom: 0.3rem;">尊敬的投资用户，</p>
                <p class="con" style="text-indent: 2rem;">
                    由于用户规模提升，为了保证服务器的顺畅运行,以及提供更好的服务,本次将对服务器进行升级和维护，预计时间为4小时左右。升级期间将暂停相关服务，请您谅解！
                </p>
                <p class="con" style="text-indent: 1rem;">
                    服务器升级时间：2018-3-15  22：00 - 2018-3-16  2：00
                </p>
                <p class="con" style="text-align: right;">
                    沪深理财运维部
                </p>
                <p class="con" style="text-align: right;">
                    2018-3-15
                </p>
                <p class="logo"><img src="/images/logo.png" alt=""></p>
            </div>
        </div>
    </div>
    <div class="img">
        <img src="/images/serverUpgrade/serverUpgrade-img3.png" alt="">
    </div>


</div>
<style>
    html,body{
        background: #fff;
    }
</style>