<!--体验金页面-->
<div class="headerTop w-tyi-wrap" ng-controller="TYJCtrl">
    <div class="topbox">
        <div class="common-head" ng-if="!fromNative"><i ng-click="toback()"></i><p>{{title}}</p></div>
    </div>
    <div class="newBox" style="border-top:1px solid #f2f2f2;">
        <div class="news-title">
            <div class="title">体验金说明</div>
        </div>
        <p class="MsoNormal" align="center" style="text-align:left;background:white;vertical-align:baseline;">
            <b><span class="big">什么是体验金？</span></b>
        </p>
        <p class="MsoNormal" align="left" style="background:white;vertical-align:baseline;">
            <span class="small">体验金为投资本金，可用于投资体验标，体验标到期后，体验金由平台收回，所获得收益归用户，可随时提现。体验金分为</span><b><span
                style="font-size:16px;color:#337FE5;">新手体验金</span></b><span class="small">（注册送）及</span><b><span
                style="font-size:16px;color:#337FE5;">普通体验金</span></b><span class="small">。</span>
        </p>
        <p><br></p>
        <p class="MsoNormal" align="left" style="background:white;vertical-align:baseline;">
            <b><span class="big">新手体验金如何使用？</span></b><b><span>&nbsp;</span></b>
        </p>
        <p class="MsoNormal" align="left" style="background:white;vertical-align:baseline;">
            <b><span>第一步：</span></b><span>通过投资任意标的</span><b>
            <span style="color:#337FE5;">≥5000</span></b><span style="">元激活体验金；</span>
        </p>
        <p class="MsoNormal" align="left" style="background:white;vertical-align:baseline;">
            <!--<img src="https://hushenlc.cn/upload/atricle/2017-09/20170906140752_29.png" alt="">-->
            <img src="/images/activity/tyj/img1.png" alt="">
        </p>
        <p><br></p>
        <p class="MsoNormal">
            <strong><span class="small">第二步：</span></strong><span class="small">确认投资信息，投资成功后激活体验金；（投资前需完成实名绑卡）</span>
        </p>
        <!--<img src="https://hushenlc.cn/upload/atricle/2017-09/20170906140932_595.png" alt="">-->
        <img src="/images/activity/tyj/img2.png" alt="">
        <p><br></p>
        <p class="MsoNormal">
            <strong><span class="small">第三步：</span></strong><span class="small">在</span>
            <strong><span style="color:#337FE5;">我的账户</span></strong><strong><span class="small">&gt;</span></strong>
            <strong><span style="color:#337FE5;">我的福利</span></strong><strong><span class="small">&gt;</span></strong>
            <strong><span style="color:#337FE5;">我的体验金</span></strong>
            <span class="small">中查看已激活的体验金，点击右侧“立即投资”跳转至体验标；</span>
        </p>
        <p class="MsoNormal" align="left" style="background:white;vertical-align:baseline;">
            <!--<img src="https://hushenlc.cn/upload/atricle/2017-09/20170906141000_629.png" alt="">-->
            <img src="/images/activity/tyj/img3.png" alt="">
        </p>
        <p class="MsoNormal">
            <strong><span class="small"><br></span></strong>
        </p>
        <p><br></p>
        <p class="MsoNormal">
            <strong><span class="small">第四步：</span></strong><span class="small">点击“立即投资”体验标，体验金使用成功，到期收回投资本金，利息发放至账户。</span>
        </p>
        <p class="MsoNormal" align="left" style="background:white;vertical-align:baseline;">
            <!--<img src="https://hushenlc.cn/upload/atricle/2017-09/20170906141037_721.png" alt="">-->
            <img src="/images/activity/tyj/img4.png" alt="">
        </p>
        <p style="background:white;vertical-align:baseline;"><br></p>
        <p style="background:white;vertical-align:baseline;">
            <strong><span class="small">第一步：</span></strong><span class="small">在</span><strong><span
                style="color:#337FE5;">我的账户</span></strong>
            <strong><span class="small">&gt;</span></strong>
            strong><span style="color:#337FE5;">我的福利</span></strong>
            <strong><span class="small">&gt;</span></strong><strong>
            <span style="color:#337FE5;">我的体验金</span></strong>
            <span class="small">中查看体验金，点击右侧“立即投资”跳转至体验标；</span>
        </p>
        <p class="MsoNormal"><span>&nbsp;</span></p>
        <!--<img src="https://hushenlc.cn/upload/atricle/2017-09/20170906141113_224.png" alt="">-->
        <img src="/images/activity/tyj/img5.png" alt="">
        <p><br></p>
        <p class="MsoNormal" align="left" style="background:white;vertical-align:baseline;">
            <strong><span class="small">第二步：</span></strong><span class="small">点击“立即投资”体验标，体验金使用成功，到期收回投资本金，利息发放至账户。</span>
        </p>
        <p class="MsoNormal" align="left" style="background:white;vertical-align:baseline;">
            <!--<img src="https://hushenlc.cn/upload/atricle/2017-09/20170906141358_51.png" alt="">-->
            <img src="/images/activity/tyj/img6.png" alt="">
        </p>
        <p><br></p>
        <p><br></p>
    </div>

</div>