<div class="wrap pb3 newhand-wrapper">
    <div class="container">
        <div class="handbox marT list newhandbox">
            <div class="newhand-info"><img src="images/newhand/newhand1.png"></div>
            <div class="newhand-fangshi"><img src="images/newhand/newhand2.png"></div>
            <div class="newhand-shouyi"><img src="images/newhand/newhand3b.png"></div>
            <div class="newhand-anquan"><img src="images/newhand/newhand4.png"></div>
        </div>
    </div>
</div>
