<div class="wrap wap-more-box" ng-controller="YYYZCtrl">
	<div class="common-head"  ng-if="wap=='true'"><i ng-click="toback()"></i><p>{{title}}</p></div>
	<!--<div class="gszz-content"><img style="width:100%;" src="images/yanzi.png"><p>实缴一亿验资报告</p></div>-->
	<div class="gszz-content">
        <div class="content">
            <img class="img-border" src="/images/more/yzbg.png">
            <img class="img-border" src="/images/more/yzbg2.png">
            <p>实缴一亿验资报告</p>
        </div>
    </div>
</div>

