<div class="redBag redBagEnd">
    <div class="common-head" ng-if="!fromNative"><i ui-sref="main.home"></i>
        <p>注册领取2000元体验金</p>
    </div>
    <div class="main">
        <div class="btn-group">
            <div class="btn active">实名再领8888元</div>
        </div>
        <div class="header"><span>红包已领取: 20000元</span></div>
        <ul class="redBag-list">
            <li>

                <div class="left">
                    <p class="tit">162****2121</p>
                    <p class="time">8-3&nbsp;10:99</p>
                </div>
                <h2 class="right">10000元</h2>
            </li>
        </ul>
        <div class="header"><span>活动规则</span></div>
        <ul class="txt-list">
            <li>1 新用户可以领取一次随机体验金，最高88万；</li>
            <li>2 体验金可以直接用于投资并获得实际收益，使用体验金时的手机号需要与领取注册时的手机号一致；</li>
            <li>3 已注册用户首次分享可获得1000元体验金奖励；</li>
            <li>4 本活动最终解释权归沪深理财所有，如有疑问请咨询客服：400-031-9909</li>
        </ul>
        <div class="btn-group">
            <div class="btn active">下载APP领取更多奖励</div>
        </div>
    </div>
</div>