<div class="wrap login-wrapper newhand-wrapper cp-wrapper new-register tyjRegSuccess" ng-controller="tyjRegSuccessController">
    <div class="topbox headerTop">
        <div class="common-head" ui-sref="main.home" ng-if="!fromNative"><i></i><p>注册成功</p>
            <span class="float-menu" ng-click="toHome()">关闭</span>
        </div>
        <main>
            <div class="block add">
                <h2 class="blue-header">注册成功</h2>
                <p class="color3 enfu-text1">288元红包已到账</p>
                <p class="color9 enfu-text1">在“我的-优惠券”内可查看</p>
                <br>
                <br>
                <br>
                <img src="/images/enfu/reg-suc-img.png" style="width: 90%;max-width: 90%;" />
                <br>
                <div class="button enfu-btn" ui-sref="main.enfuinvest">立即投资</div>
            </div>
        </main>
    </div>
    <div class="enfo-bottom">
        <div class="left"><img src="/images/enfu/logo.png" alt="">打开沪深理财APP</div>
        <div class="right"><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.yx.jinzhuapp">下载App</a></div>
    </div>
</div>
<style>
    body{
        background: #fff;
    }
</style>