<div class="dialog special-dialog rule-dialog thirdInvitation-rule-dialog">
    <i class="special-close" ng-click="closeDialog()"></i>
    <div class="rule-content">
        <div class="header"></div>
        <div class="rule-list">
            <ul>
                <li><span>1、&nbsp;</span><b>活动时间：自2018年04月13日起；</b></li>
                <li><span>2、&nbsp;</span><b>有效投资：首投≥1000元，标期≥30天的产品；</b></li>
                <li><span>3、&nbsp;</span><b>人脉奖仅针对一级邀请，受邀好友注册并有效投资可获得相应奖励，每月1000元封顶；</b></li>
                <li><span>4、&nbsp;</span><b>提成奖，受邀好友注册后的60天内，首投后的每笔投资金额≥5千元，标期≥30天，可获得相应提成奖；</b></li>
                <li><span>5、&nbsp;</span><b>奖励将在好友投资满足条件后以现金奖励的形式发放至您的注册账户中，可提现可投资；</b></li>
                <li><span>6、&nbsp;</span><b>受邀好友单笔投资≥1000元，标期≥30天即可获得10元话费；</b></li>
                <li><span>7、&nbsp;</span><b>如有恶意刷奖行为，一经本平台核实将取消获奖资格；</b></li>
                <li><span>8、&nbsp;</span><b>活动不与平台其他活动同享（且新手标及活动标不参与本活动）。</b></li>
                <li><b>* 本活动最终解释权归沪深理财所有，如有疑问请咨询客服：400-031-9909。</b></li>
            </ul>
        </div>
    </div>
</div>