<div class="dialog special-dialog rule-dialog">
    <div class="chunjie-rule-content">
        <i class="chunjie-close" ng-click="closeDialog()"></i>
        <div class="header"><span>活动规则</span></div>
        <div class="rule-list">
            <ul>
                <li>1. 活动时间：2018.2.3-2018.3.14；</li>
                <li>2. “财”高八斗：活动时间内，投资定期标（新手标，活动标除外）累计年化投资额达到一定条件即可直接获得对应现金及奖励，每档奖励都能获得1次；</li>
                <li>3. 节节高升：活动时间内，投资定期标（新手标，活动标除外）累计年化投资额最高的前10名用户额外再获得排行榜奖励，若排名相同，则以最先达到该排名的用户为先。最终排名以活动结束后的排行榜为准；</li>
                <li>4. 年化投资额=单次投资额/360*投资天数。小数点会累计计算，但活动只显示整数部分，排行榜以整数进行对比；</li>
                <li>5. 部分合作渠道用户的首次投资不计入本次活动，以渠道活动说明为准；</li>
                <li>6. 获得实物奖励会有工作人员联系您核实地址信息。获实物奖后超过30个工作日无法联系到的用户，将默认自动放弃奖励；</li>
                <li>7. 实物奖励和京东卡将在兑换后的20个工作内发放，京东卡会通过卡密方式发送到获奖手机。由于春节期间物流采购会有一定影响，可能会有部分延期，敬请谅解。</li>
                <li>*本活动由沪深理财发起并就活动内容作出解释和说明，任何疑问请咨询沪深客服：400-031-9909。</li>
            </ul>
        </div>
    </div>
</div>