<div class="dial-phone-wrap2">
    <div class="content no-chance">
        <div class="close" ng-click="closeDialog()">
            <img src="/images/common/close-icon.png" alt="">
        </div>
        <p class="text">客服中心 </p>
        <p class="tel">沪深在线客服，竭诚为您服务</p>
        <p class="tel">人工客服时间</p>
        <p class="tel">工作日：09:00~18:00</p>
        <div class="btn">
            <span class="cancel" ng-click="toYJFK()">意见反馈</span>
            <span ng-click="tophone()">电话客服</span>
        </div>
    </div>
</div>