<div class="dialog special-dialog rule-dialog">
    <i class="special-close enfu-close" ng-click="closeDialog()"></i>
    <div class="enfu-rule-content">
        <div class="header">活动规则</div>
        <div class="rule-list">
            <ul>
                <li>1.活动期间，通过此活动专属页面注册的新用户即送联名橄榄球礼品，注册即可现场领取；</li>
                <li>2.投资指定标的即送恩弗橄榄球课程，每位用户仅限参加一次；</li>
                <li>3.恩弗橄榄球课程领取方式：投资成功后，兑换码将发送至用户手机，凭兑换码及注册手机号码与现场工作人员确认并兑换课程；</li>
                <li>*恩弗橄榄球课程说明：</li>
                <li>礼包价值：单次体验课价值390元，此礼包内含3节课，总价值1170元；</li>
                <li>开课时间：周末开课，需连续3周使用，每周1节；</li>
                <li>预约上课：本产品购买后需致电恩弗热线预约，具体校区及上课时间需以恩弗确认为准。预约电话：52999132；</li>
                <li class="red">*温馨提示</li>
                <li>1.课程年龄说明</li>
                <li>Y4橄榄球课程适合儿童年龄：3-5岁</li>
                <li>Y6橄榄球课程适合儿童年龄：5-7岁</li>
                <li>2.各校区均为室外场地，如有雨当天课程取消</li>
                <li class="red">*本活动由沪深理财携手恩弗体育共同发起并就活动内容作出解释和说明，任何疑问请咨询沪深理财客服：400-031-9909</li>
            </ul>
        </div>
    </div>
</div>