<div class="dialog special-dialog investShare-dialog">
	<i class="investShare-close" ng-click="closeDialog()"></i>
	<div class="investShare-content">
		<div class="header"></div>
		<div class="main">
			<div class="wap">
				<div class="btn" ng-click="share()"></div>
				<h2 ng-click="showRuleText()">活动详情</h2>
				<ul ng-show="showRuleBoole" class="rule-txt">
					<li>1 每天首次分享成功后即可获得1000元体验金；</li>
					<li>2 好友通过分享页成功注册后将获得随机体验金，同时分享者也将获得好友领取的同等体验金；</li>
					<li>3 分享者体验金奖励可以多次叠加，每个分享链接最多可以被10位好友领取，封顶88万体验金；</li>
					<li>4 本活动最终解释权归沪深理财所有，如有疑问请咨询客服：400-031-9909</li>
				</ul>
			</div>
		</div>
	</div>
</div>