<div class="dialog rule-dialog">
    <div class="member-rule-content">
        <div class="close" ng-click="closeDialog()">
            <img src="/images/common/close-icon.png" alt="">
        </div>
        <div class="header"><span>活动规则</span></div>
        <div class="rule-list">
            <ul>
                <li>1、活动时间：每周三</li>
                <li>2、活动期间内通过此页面才能参与活动；登录可获得1次刮奖机会，分享至朋友圈或好友可增加1次，单笔投资每1000元还可刮1次(3次封顶），每位用户最多可刮5次；</li>
                <li>3、本活动100%中奖，其中部分奖励需满足一定激活条件后即能获得，激活奖励需单次达到对应提示条件，累积投资无效，以实际获得奖励和提示为准；</li>
                <li>4、刮奖所获的奖励有效期为5天，请及时使用,过期作废；</li>
                <li>5、实物和话费奖励在活动结束后的10个工作日内发放，获得实物奖励需填写详细地址信息。详细步骤如下：</li>
                <li class="grey"> &nbsp;&nbsp;a 打开微信添加"沪深金融官微" 公众号: hushenlicai <br>
                    &nbsp;&nbsp;b 选择“活动专区”--“礼品领取”，根据页面输入详细信息。 <br>
                    &nbsp;&nbsp;c 若活动结束后的15个工作日内仍未填写地址信息，且无法联系上，则视为自动放弃奖励。</li>
                <li>6、每个身份证仅限参与一次，刷奖及冒用他人身份证、银行卡者一经核实，将会取消其活动资格，所有奖励不予兑换；</li>
                <li>7、本活动不与合作渠道的首次投资活动共享，若通过其他合作渠道注册的用户首次投资将默认参加合作渠道活动，再次投资即可参加本活动！本活动仅限沪深理财官微粉丝参与。</li>
                <br>
                <li>* 本活动最终解释权归沪深理财所有，如有疑问请咨询客服：400-031-9909</li>
            </ul>
        </div>
    </div>
</div>