<div class="dialog special-dialog rule-dialog">
	<i class="special-close" ng-click="closeDialog()"></i>
	<div class="rule-content">
		<div class="header"></div>
		<div class="rule-list">
			<ul>
				<li><span>1.</span><b>活动期间，累计年化投资额最高的前10名战队可获得现金奖励 <br>奖励：个人奖励=个人年化投资总额/战队年化投资总额*奖励总额；</b></li>
				<li><span>2.</span><b>年化投资额=投资金额*投资期限/360天；</b></li>
				<li><span>3.</span><b>排前10的每个战队投资金额TOP1可另外获得相应现金奖励；</b></li>
				<li><span>4.</span><b>3人即可成队，每人仅可组建或者加入1个战队，组队后不可退出，注册用户直接享受队长特权，队长需邀请未注册用户组建战队；</b></li>
				<li><span>5.</span><b>话费奖励将在受邀人投资达标后，10个工作日内发放至注册手机号中；</b></li>
				<li><span>6.</span><b>所有队员参队后需完成投资才可获得活动奖励，未投资队员无法获得返现奖励，当累计年化投资金额（战队和TOP1）相同时，以投资时间优先排名；</b></li>
				<li><span>7.</span><b>战队奖励以现金红包形式发放（只需投资100元即可激活变现，可提现可投资），所得奖励将在活动结束后10个工作日内发放至您的注册账户中；</b></li>
				<li><span>8.</span><b>队长及队员投资标期需≥30天的定期标，投资新手标、活动标则无奖励，部分合作渠道用户的首次投资不计入本次活动，以渠道活动说明为准；</b></li>
				<li><span>9.</span><b>如有恶意刷奖行为，一经本平台核实将取消获奖资格。</b></li>
				<li><b>* 本活动最终解释权归沪深理财所有，如有疑问请咨询客服：400-031-9909。</b></li>
			</ul>
		</div>
	</div>
</div>