<div class="welfare headerTop" ng-controller="goFollowCtrl" style="background: #fff;">
    <div class="topbox">
        <div class="common-head" ng-if="!fromNative"><i ng-click="toback()"></i><p>如何关注微信公众号</p></div>
    </div>
    <div class="follow-content">
        <img src="/images/wechatWelfare/follow_02.png" alt="">
        <img src="/images/wechatWelfare/follow_03.png" alt="">
        <img src="/images/wechatWelfare/follow_04.png" alt="">
    </div>
    <div class="footer" ng-click="copy()">
        复制公众号，打开微信
    </div>
</div>