<div class="welfare headerTop" style="background: none;" ng-controller="towelfareCtrl">
    <div class="topbox">
        <div class="common-head" ng-if="!fromNative"><i ng-click="toback()"></i><p>往期福利</p></div>
    </div>
    <div class="div-block"></div>
    <div class="myMission">
        <div class="myMissionItem" >
            <a>
                <img src="../../images/wechatWelfare/pre-activity.png" class="banner-img">
            </a>
            <div class="text">
                <span>转盘大抽奖</span>
                <span>2018.02.18</span>
            </div>
            <div class="over" >
                <p>
                    <img src="../../images/find/find_huodong_end.png" alt="">
                </p>
            </div>
        </div>
    </div>
</div>