<div class="dialog special-dialog teamleader-dialog firstInvest-dialog">
    <i class="close" ng-click="closeDialog()" style="background: url('/images/interestSubsidy/common-close-gray.png');background-size: 100% 100%;"></i>
    <div class="contain">
        <div class="img">
            <!--<img src="/images/zudui/myteam/tearmLeader.png" alt="">-->
        </div>
        <p class="text" style="color: #666;">请完成首投后隔天再来领卡吧！</p>
        <div class="upload">
            <img src="/images/interestSubsidy/go-to-invest.png" alt="" ng-click="goToFirstInvest()">
        </div>
    </div>
</div>