<div class="dialog special-dialog rule-dialog interest-rule-dialog">
    <i class="special-close" ng-click="closeDialog()"></i>
    <div class="rule-content">
        <div class="header"></div>
        <div class="rule-list">
            <ul>
                <li><span>1&nbsp;</span><b>活动时间：即日起--2018.4.30；</b></li>
                <li><span>2&nbsp;</span><b>活动期间内，根据用户当前在平台的总资产金额（即投资中的金额+可用余额），可领取贴息卡，有效期至2018.4.30；</b></li>
                <li><span>3&nbsp;</span><b>活动期间内，已领取贴息卡的用户，若总资产达到下一等级，则可以升级贴息卡；</b></li>
                <li><span>4&nbsp;</span><b>贴息卡使用条件：可投资有平台贴息的定期标的（活动标、新手标除外），贴息卡有效期内可以无限次享受贴息收益提升；</b></li>
                <li><span>5&nbsp;</span><b>贴息卡计算方式：针对平台定期标（30、60天标）的贴息部分（目前平台贴息为3.8%）根据获得的贴息卡比例提升；</b></li>
                <li><span>6&nbsp;</span><b>贴息卡可与红包、加息券、翻倍券同时使用；</b></li>
                <li><span>7&nbsp;</span><b>部分渠道需完成首投后的第2天才能领取贴息卡，以渠道说明和活动提示为准。</b></li>
                <li><b>*本活动由沪深理财发起并就活动内容作出解释和说明，任何疑问请咨询沪深客服：4000319909</b></li>
            </ul>
        </div>
    </div>
</div>